extends layout

block content
    a(href="/dashboard/upgrade-to-user?id=#{id}") User 
    a(href="/dashboard/upgrade-to-admin?id=#{id}") Admin 
    a(href="/dashboard/upgrade-to-refree?id=#{id}") Refree 
    