doctype html

html
    head
        title Juniorcup
        block styles
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
        link(rel='stylesheet', href='/stylesheets/dashboard.css')
        script(src="/javascripts/jquery-3.5.1.min.js")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(name="theme-color" content="#050507")
        script(src="/javascripts/dashboard.js")
    body
        .transparent-modal
        .navigation
            .logout
                a(href="/users/logout")
                    i.fa.fa-power-off
                    | خروج
            .links
                a(href="/dashboard")
                    .link.active
                        i.fa.fa-home
                        .text پنل کاربری
                a(href="/dashboard")
                    .link
                        i.fa.fa-bell
                        .text اعلان ها
                a(href="/dashboard/setting")
                    .link
                        i.fa.fa-gears
                        .text تنظیمات
        .dashboard
            nav
                button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
                    i.fa.fa-list-ul
                #navbarSupportedContent.collapse
                    a.nav-link#nav-link1.active(href='/') 
                        i.fa.fa-home.nav-icon 
                        | صفحه اصلی
                    a.nav-link(href='/game')
                        //- i.fa.fa-photo.nav-icon 
                        | مسابقه
                    a.nav-link#nav-link2(href='/leagues')
                        //- i.fa.fa-photo.nav-icon 
                        | لیگ ها
                    a.nav-link#nav-link3(href='/gallery')
                        //- i.fa.fa-photo.nav-icon 
                        | گالری
                    a.nav-link#nav-link4(href='/docs') 
                        //- i.fa.fa-tv.nav-icon 
                        | آموزش
                    a.nav-link#nav-link5(href='/about') 
                        //- i.fa.fa-question.nav-icon 
                        | درباره ما
                    a.nav-link#nav-link6(href='/contact') 
                        //- i.fa.fa-phone.nav-icon 
                        | تماس با ما
                a.user-login(href="#")
                    .username #{user.username}
                    i.fa.fa-user
            .user-action
                .acount
                    img.avatar(src="/images/man.png", alt="avatar")
                    .text
                        h1.username= user.username
                        h1.email= user.email
                .links
                    a(href="/dashboard") 
                        i.fa.fa-users
                        | تیم های من
                    a(href="/dashboard")
                        i.fa.fa-gears
                        | تنظیمات
                    a(href="/users/logout")
                        i.fa.fa-sign-out
                        | خروج
            block content