extends layout

block styles 
    link(rel="stylesheet", href="stylesheets/refree.css")

block content
    .overfelow-hidden
        .refree-links
            a.admin-link(href="/dashboard/soccer-light-primary?round=1") 
                i.fa.fa-soccer-ball-o 
                | فوتبالیست سبک وزن primary
            a.admin-link(href="/dashboard/soccer-light-secondary?round=1") 
                i.fa.fa-soccer-ball-o 
                | فوتبالیست سبک وزن secondary
            a.admin-link(href="/dashboard/soccer-open") 
                i.fa.fa-soccer-ball-o 
                | فوتبالیست وزن آزاد
            a.admin-link(href="/dashboard/smartcar") 
                i.fa.fa-car 
                | خودرو هوشمند
            //- a.admin-link(href="/dashboard/cospace") 
            //-     i.fa.fa-soccer-ball-o 
            //-     | مسیریاب
            a.admin-link(href="/dashboard/soccer2d") 
                i.fa.fa-soccer-ball-o 
                | فوتبال ۲ بعدی
        .refree-todo 
            h1.todo-title لیست کارها
            form(action="/dashboard/add-todo" method="POST") 
                input.textinput(type="text" name="content" placeholder="افزودن کار جدید...")
                input.submit(type="submit" value="ثبت")
            .scroll-area 
                -for(var i=0; i<todos.length; i++){
                    .todo-content 
                        .text= todos[i].content
                        .time= todos[i].time
                        .actions
                            a.icon.delete(href="/dashboard/remove-todo?id=#{todos[i]._id}") 
                                i.fa.fa-trash
                            //- .icon.done 
                            //-     i.fa.fa-check
                -}
                