extends layout

block content
    h1.title 
        i.fa.fa-users
        | تیم های من
    .teams-area
        .all-content
            a.team(href="#")
                .name fdmx
                .item سرپرست: دائمی مژدهی
                .item فوتبالیست سبک وزن
            
            a.add-team(href="#")
                i.fa.fa-plus
                h1 افزودن تیم جدید