doctype html

html
    head
        title Juniorcup
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
        link(rel='stylesheet', href='/stylesheets/index.css')
        script(src="/javascripts/jquery-1.6.4.min.js")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(name="theme-color" content="#000000")
        script(src="/javascripts/index.js")
    body
        header
            nav
                button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
                    i.fa.fa-list-ul
                #navbarSupportedContent.collapse
                    a.nav-link#nav-link1.active(href='/') 
                        i.fa.fa-home.nav-icon 
                        | صفحه اصلی
                    a.nav-link#nav-link3(href='/education')
                        //- i.fa.fa-photo.nav-icon 
                        | گالری
                    a.nav-link#nav-link4(href='/exam') 
                        //- i.fa.fa-tv.nav-icon 
                        | آموزش
                    a.nav-link#nav-link6(href='/gallery') 
                        //- i.fa.fa-question.nav-icon 
                        | درباره ما
                    a.nav-link#nav-link5(href='/about') 
                        //- i.fa.fa-phone.nav-icon 
                        | تماس با ما
                    a.user-login(href="/")
                        | ورود
                        i.fa.fa-user-o
            .on-image-text
                h1.small.yellow سیزدهمین دوره
                h1.medium مسابقات رباتیک دانش آموزی
                h1.large جونیورکاپ
                h1.medium.purple 2021
                a.rounded-rect-button(href="/") ثبت نام
            img.robot(src="/images/landing/soccerRobot.png", alt="soccerRobot")
        img.bottom-curv(src="/images/landing/bottom.png", alt="bottom")
        .content
            .right-text
                h1.title معرفی جونیورکاپ
                p اینجا یه متن خوب برای معرفی مسابقات و جونیورکاپ و اینا میتونه بیاد که مثلا بگه چطور شروع شد و هدفشو اینا چیه یا مثلا در مورد نحوه برگزاری و اینا در شرایط کرونا یه چیزایی گفته بشه. اما فعلا تا اون موقع، فرحان ایپسوم یک متن ساختگی بدون محتوا است جهت پر کردن فضاهای خالی 
                a.social-media-link(href="http://t.me/juniorcup")
                    i.fa.fa-telegram
                a.social-media-link(href="http://instagram.com/juniorcup")
                    i.fa.fa-instagram
                
            .img-area
                img(src="/images/landing/juniorcup2019.jpg")
        h1 content
        h1 content
        h1 content
        h1 content
        h1 content
        h1 content
        
