extends ../layout
block styles
    link(rel="stylesheet", href="/stylesheets/message.css")
block content
    .massage
        h1.title.success  
            i.fa.fa-check-circle.icon   
            | پرداخت با موفقیت انجام شد
        .item نام و نام خانوادگی: #{team.mentor}
        .item کد پیگیری: #{team.track_id}
        .item مبلغ: #{team.price}
        .item توضیحات: هزینه ثبت نام تیم#{team.teamName}
        
        p.text از اعتماد شما سپاس گزاریم.
        a.link(href="/dashboard") 
            i.fa.fa-chevron-left.icon
            | رفتن به پنل کاربری   
