extends ../../layout

block styles
    link(rel='stylesheet', href='/stylesheets/docs.css')

block content
    .docs
        .sidebar
            h1.title
                i.fa.fa-book
                | مطالب آموزشی
            include pages
        .content
            .content-padding
                h1.purple.medium.font معرفی
                p.font.small.text 
                    | در این آموزش با نحوه نصب و راه اندازی شبیه ساز ربات های فوتبالیست سبک وزن آشنا خواهیم شد. نحوه راه اندازی موتور ها و دریافت اطلاعات سنسور ها از ربات در زبان برنامه نویسی پایتون انجام می شود. 
                    | نرم افزار شبیه سازی ربات های فوتبالیست توسط نرم افزار Unity طراحی شده که شامل محیطی گرافیکی از زمین مسابقه طبق استاندارد های 
                    a.font.inline.small.blue(href="/" download) قوانین مسابقات ربوکاپ 
                    | و ربات ها می باشد. با استفاده از این سیمولاتور می توان تمام حرکات و تصمیماتی که ربات در مقابل اطلاعات دریافتی از محیط اطراف خود می گیرد را شبیه سازی کرد.
                img.fullsize(src="/docs/python/01/images/unity.png")
                .caption محیط نرم افزار unity
                h1.purple.medium.font زبان برنامه نویسی
                p.font.small.text 
                    | پایتون یکی از زبان های برنامه نویسی بسیار محبوب در جهان است که علت محبوبیت آن سادگی و در عین حال کاربردی بودن آن می باشد. 
                    | سیمولاتور ربات های فوتبالیست می تواند به راحتی با زبان پایتون از طریق پروتکل های تعریف شده ارتباط برقرار نماید. 
                    | این ارتباط شامل دریافت اطلاعات سنسور ها و تنظیم سرعت موتور ها می شود که در این آموزش به تک تک آن ها خواهیم پرداخت.
                img.fullsize(src="/docs/python/01/images/cover.jpg")
                .caption محیط سیمولاتور ربات های فوتبالیست
                
            .buttons
                //- a.prev(href="/docs/soccer-light-python?page=#{page-1}") 
                //-     i.fa.fa-chevron-right
                //-     | صفحه قبل
                a.next(href="/docs/soccer-light-python?page=#{page+1}") 
                    | صفحه بعد
                    i.fa.fa-chevron-left
                
                
    .bg-toggle
        .bg-button
            i.fa.fa-moon-o.moon
            i.fa.fa-sun-o.sun
            
    .sidebar-modal
    .sidebar-toggle
        i.fa.fa-chevron-left
    script(src="/javascripts/docs.js")