extends ../../layout

block styles
    link(rel='stylesheet', href='/stylesheets/docs.css')

block content
    .docs
        .sidebar
            h1.title
                i.fa.fa-book
                | مطالب آموزشی
            include pages
            
        .content
            .content-padding
                h1.purple.medium.font نصب شبیه ساز
                p.font.small.text 
                    | برای نصب سیمولاتور ربات های فوتبالیست کافی است فایل فشرده آن را از طریق لینک زیر دانلود کرده و سپس فایل test موجود در پوشه juniorcup را اجرا نمایید.
                a.font.download.small.blue(href="/docs/python/02/juniorcup.rar" download) 
                    i.fa.fa-cloud-download
                    | دانلود سیمولاتور ربات های فوتبالیست سبک وزن
                
                
            .buttons
                a.prev(href="/docs/soccer-light-python?page=#{page-1}") 
                    i.fa.fa-chevron-right
                    | صفحه قبل
                a.next(href="/docs/soccer-light-python?page=#{page+1}") 
                    | صفحه بعد
                    i.fa.fa-chevron-left
            
    .bg-toggle
        .bg-button
            i.fa.fa-moon-o.moon
            i.fa.fa-sun-o.sun
            
    .sidebar-modal
    .sidebar-toggle
        i.fa.fa-chevron-left
    script(src="/javascripts/docs.js")