extends ../../layout

block styles
    link(rel='stylesheet', href='/stylesheets/docs.css')

block content
    .docs
        .sidebar
            h1.title
                i.fa.fa-book
                | شبیه ساز ربات فوتبالیست 
            include pages
            
        .content
            .content-padding
                h1.purple.medium.font اجرای برنامه نمونه
                p.font.small.text 
                    | پس از نصب نرم افزار Python و VS-Code جهت راه اندازی روبات در سیمولاتور جونیورکاپ و کنترل آن ابتدا فایل زیر را دانلود کرده و از حالت فشرده خارج نمایید.
                a.font.download.small.blue(href="/docs/junior_light_python-v1.3.rar" download) 
                    i.fa.fa-cloud-download
                    | دانلود پروژه نمونه به زبان پایتون
                img.fullsize(src="/docs/python/05/img-01.png")
                p.font.small.text 
                    | سپس بر روی پوشه ایجاد شده کلیک راست کنید و Open With Code را انتخاب کنید تا با نرم افزار VS-Code باز شود. (اگر این گزینه در منوی کلیک راست شما دیده نمی شود وارد برنامه VS-Code شده و از منوی file گزینه open folder را انتخاب کنید.)
                img.fullsize(src="/docs/python/05/img-02.png")
                img.fullsize(src="/docs/python/05/img-03.png")
                p.font.small.text.red.bold توجه: قبل از اجرای برنامه ابتدا نرم افزار شبیه ساز را اجرا نمایید.
                p.font.small.text 
                    | پس از آنکه سیمولاتور را اجرا نمودید به VS code بازگردید و از گوشه سمت راست بر روی مثلث سبزرنگ کلیک کنید تا برنامه اجرا شود.
                    | حال به سیمولاتور بازگردید. می توانید حرکت روبات را مشاهده کنید. با استفاده از کلید های ۱و ۲و ۳و و۴و ۵ در سیمولاتور، موقعیت توپ را می توانید جابجا کنید.

            .buttons
                a.prev(href="/docs/soccer-light-python?page=#{page-1}") 
                    i.fa.fa-chevron-right
                    | صفحه قبل
                a.next(href="/docs/soccer-light-python?page=#{page+1}") 
                    | صفحه بعد
                    i.fa.fa-chevron-left
    .bg-toggle
        .bg-button
            i.fa.fa-moon-o.moon
            i.fa.fa-sun-o.sun
            
    .sidebar-modal
    .sidebar-toggle
        i.fa.fa-chevron-left
    script(src="/javascripts/docs.js")