extends ../../layout

block styles
    link(rel='stylesheet', href='/stylesheets/docs.css')

block content
    .docs
        .sidebar
            h1.title
                i.fa.fa-book
                | شبیه ساز ربات فوتبالیست
            include pages
            
        .content
            .content-padding
                h1.purple.medium.font سیستم حرکتی ربات
                p.font.small.text 
                    | یکی از مهمترین و اساسی ترین بخش ها در ربات های فوتبالیست ، ساختار مکانیکی آنها می باشد. سیستم های مکانیکی ربات ها ،  متناسب با کارایی آنها و زمینه ای که در آن استفاده می شوند ، طراحی می شوند. 
                    | سیستم حرکتی در ربات شبیه سازی شده از چهار موتور جریان مستقیم که در طبقه اول ربات قرار دارد و چرخ های خورشیدی متصل به موتورها تشکیل شده است.
                img.double(src="/docs/cpp/img/36.png")
                img.double(src="/docs/cpp/img/37.png")
                img.fullsize(src="/docs/cpp/img/38.png")
                p.font.small.text 
                    | حرکت ربات با استفاده از چرخ های خورشیدی که در چهار طرف ربات با زاویه ۹۰ درجه نسبت به یکدیگر قرار دارند در تمامی جهت ها امکان پذیر می باشد. به عنوان مثال برای حرکت به طرف جلو و عقب هر کدام از موتور ها نیرویی وارد می کنند و برایند این نیروها موجب حرکت به جلو یا عقب می شود.
                img.double(src="/docs/cpp/img/backward.jpg")
                img.double(src="/docs/cpp/img/forward.jpg")
                p.font.small.text 
                    | از آنجایی که دور چرخ های خورشید چرخ های کوچکی وجود دارد که آزادانه حرکت میکنند، این چرخ ها می توانند در دو جهت به طور هم زمان حرکت کنند. با این وجود با خاموش ماندن موتور ها هم می توان حرکت در جهت های بیشتری داشت.
                img.double(src="/docs/cpp/img/topright.jpg")
                img.double(src="/docs/cpp/img/topleft.jpg")
                h1.purple.medium.font تابع حرکتی ربات
                p.font.small.text 
                    | همانطور که گفته شد چهار موتور در ربات شبیه سازی شده وجود دارد. هر کدام از این موتورها سه حالت کلی خاموش، ساعتگرد و پادساعتگرد دارند. سرعت چرخش موتور ها هم در حالت ساعتگرد و پادساعتگرد نیز قابل تنظیم است. 
                    | بدین منظور تابعی برای به حرکت در آوردن موتور ها و درنتیجه حرکت ربات وجود دارد که چهار ورودی عددی (‌عدد صحیح) دریافت می کند که به ترتیب سرعت و جهت چرخش موتورهای بالا-چپ، پایین-چپ، پایین-راست و بالا-راست را مشخص می کند. 
                    | این اعداد می توانند از ۲۵۵- تا ۲۵۵+ باشند. مثبت و منفی بودن این عدد به ترتیب ساعتگرد و پادساعتگرد بودن چرخش موتور و عدد وارد شده سرعت چرخش را مشخص میکند.
                .code
                    .function myRobot.motor
                    | (255, 255, 255, 255);
                p.font.small.text 
                    | با نوشتن خط بالا در برنامه و اجرا آن ، ربات شما در جهت عقربه های ساعت ،شروع به حرکت خواهد کرد و اگر تمامی مقادیر را با 255- مقدار دهی کنید جهت حرکت برعکس خواهد شد.
                h1.purple.medium.font حرکت های اصلی
                p.font.small.text 
                    | در نتیجه با استفاده از تابع موتور می توان حرکت های جلو، عقب، چپ و راست ربات را به صورت زیر نوشت.
                img.fullsize(src="/docs/cpp/img/main1.jpg")
                p.font.small.text 
                    | با قرار دادن عدد 0 در تابع موتور، آن موتور خاموش می شود. پس می توانیم حرکت های اوریب ربات که با خاموش ماندن دو موتور انجام می شود را بنویسیم.
                img.smallsize(src="/docs/cpp/img/main2.jpg")
                h1.purple.medium.font حرکت های فرعی
                p.font.small.text 
                    | با تغییر سرعت موتور ها می توان حرکت در جهت های بیشتری را نوشت. به عنوان مثال بین حرکت های اصلی گفته شده می توان با میانگین گرفتن از سرعت موتورها در تابع حرکت بعد و قبل، حرکت های جدیدی نوشت که به آن ها حرکت های فرعی گفته می شود.
                img.fullsize(src="/docs/cpp/img/main3.jpg")
                p.font.small.text
                    .red.bold.inline نکته ۱: 
                    | در هر یک از حرکت های گفته شده مجموع سرعت موتور ها برابر صفر است. صفر بودن مجموع اعداد نشان دهنده این است که حرکت مورد نظر موجب چرخش ربات نمی شود و ربات بدون چرخش به دور خود حرکت می کند. 
                p.font.small.text
                    .red.bold.inline نکته ۲: 
                    | با میانگین گرفتن از سرعت موتورهای هر دو حرکت، می توان حرکت بین آن دو را پیدا کرد.
                img.fullsize(src="/docs/cpp/img/main.jpg")
                
            .buttons
                a.prev(href="/docs/soccer-light-cpp?page=#{page-1}") 
                    i.fa.fa-chevron-right
                    | صفحه قبل
                a.next(href="/docs/soccer-light-cpp?page=#{page+1}") 
                    | صفحه بعد
                    i.fa.fa-chevron-left
    .bg-toggle
        .bg-button
            i.fa.fa-moon-o.moon
            i.fa.fa-sun-o.sun
            
    .sidebar-modal
    .sidebar-toggle
        i.fa.fa-chevron-left
    script(src="/javascripts/docs.js")