@font-face{
    font-family: 'iransans';
    src: url('iransans.ttf');
}


@keyframes fade {
    from {background-color: black;}
    to {background-color: purple;}
}
body{
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    font-family: 'iransans';
    direction: rtl;
    background-color: #000000;
    /* animation-name: fade; */
    animation-duration: 2s;
}
h1{
    display: none;
    /* position: absolute; */
    text-align: center;
    align-content: center;
    margin: auto;
    background-color: transparent;
    color: white;
    height: 100%;
    width: 90%;
    margin: auto;
    padding: 40vh 0;
    font-size: 6vw;
}
h1#fourth{
    padding: 20vh 0;
}

