/* --------- Declarations ----------- */
@font-face{
    font-family: 'iransans';
    src: url('iransans.ttf');
}

@keyframes fade {
    from {opacity: 0;}
    to {opacity: 1;}
}
@keyframes goRight {
    from {margin-right: 3vw;}
    to {margin-right: 0;}
}
@keyframes goUp {
    from {margin-top: 5vw;}
    to {margin-top: 0.5vw;}
}

:root {
    --purple: #8305be;
    --yellow: #ffcc00;
    --hover: #ffcc00;
    --dark: #4f4f66;
    --light: white;
    --gray: rgb(190, 190, 190);
    --blue: rgb(56, 162, 248);
    --red: rgb(250, 86, 36);
    --green: rgb(36, 250, 54);
    --textcolor: rgb(29, 29, 29);
    --background: #3d4244;
    --boxborder: #66666C;
    --boxbackground: #2B2F32;
    --brown: #3e2917;
    
}
body{
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    font-family: 'iransans';
    direction: rtl;
    background-color: var(--boxbackground);
    /* overflow: hidden; */
}
.transparent-modal{
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

@media only screen and (min-width: 800px) {
    .classes{
        /* background-color: blue; */
        width: 80%;
        margin: 1vw auto;
        overflow: hidden;
        padding: 2vw 0;
    }
    .classes .class{
        text-decoration: none;
        display: block;
        font-family: 'iransans';
        background-color: var(--background);
        float: right;
        width: 23%;
        margin: 0 1%;
        box-shadow: 0.2vw 0.2vw 0.5vw 0.1vw rgba(255, 255, 255, 0.1);
        border-radius: 1vw;
        margin-bottom: 2vw;
        transition-duration: 500ms;
        /* border: var(--boxbackground) 0.1vw solid; */
    }
    .classes .class:hover{
        box-shadow: 0.2vw 0.2vw 0.5vw 0.2vw rgba(255, 255, 255, 0.3);
    }
    .classes .class h1.title{ 
        color: var(--blue);
        font-size: 1.3vw;
        padding: 0 1vw;
        margin: 0;
        margin-top: 2vw;
    }
    .classes .class h1.under-title{ 
        color: var(--gray);
        font-size: 1vw;
        padding: 0 1vw;
        margin: 0;
    }
    .classes .class h2{ 
        color: var(--light);
        font-size: 1vw;
        padding: 0 1vw;
        margin: 0;
        margin-bottom: 2vw;
        margin-top: 0.5vw;
        font-weight: normal;
    }
    .class-view h1.name{
        color: var(--blue);
        font-family: 'iransans';
        font-size: 1.6vw;
        text-align: center;
        margin: 0;
        margin-top: 2vw;
    }    
    .class-view h1.title{
        color: var(--gray);
        font-family: 'iransans';
        font-size: 1.3vw;
        text-align: center;
        margin-top: 0;
        font-weight: normal;
    }    
    .class-view table{
        background-color: var(--background);
        /* display: block; */
        width: 90%;
        margin: 1vw auto;
        border-radius: 1vw;
        padding: 1vw 0;
        text-align: right;
        color: white;
    }
    .class-view table td{
        padding: 0.5vw 0;
        /* background-color: white; */
    }
    .class-view table td .progressbar{
        border-radius: 1vw;
        background-color: var(--dark);
        height: 1vw;
        width: 20vw;
    }
    .class-view table td.progress{
        width: 22vw;
    }
    .class-view table td .bar{
        border-radius: 1vw;
        background-color: var(--blue);
        height: 1vw;
        width: 30%;
    }
    .class-view table td.user{
        width: 3vw;
        text-align: center;
        color: var(--blue);
    }
    .class-view table td.apsence{
        width: 15vw;
        color: var(--red);
    }
    .class-view table td i.posetive{
        color: var(--green);
        font-size: 1vw;
        padding: 0 0.3vw;
    }
    .class-view table td i.negetive{
        color: var(--red);
        font-size: 1vw;
        padding: 0 0.3vw;
    }
    .class-view table td a{
        color: var(--gray);
        font-size: 0.8vw;
        text-decoration: none;
        padding-right: 0.3vw;
    }
    .class-view table td a:hover{
        color: var(--blue);
    }
    .class-view table td a i.times:hover{color: var(--red);}

}
@media only screen and (max-width: 800px) {
    .classes{
        /* background-color: blue; */
        width: 80%;
        margin: 3vw auto;
        overflow: hidden;
        padding: 4vw 0;
    }
    .classes .class{
        text-decoration: none;
        display: block;
        font-family: 'iransans';
        background-color: var(--background);
        float: right;
        width: 48%;
        margin: 0 1%;
        box-shadow: 0.2vw 0.2vw 0.5vw 0.1vw rgba(255, 255, 255, 0.1);
        border-radius: 1vw;
        margin-bottom: 2vw;
        transition-duration: 500ms;
        /* border: var(--boxbackground) 0.1vw solid; */
    }
    .classes .class:hover{
        box-shadow: 0.2vw 0.2vw 0.5vw 0.2vw rgba(255, 255, 255, 0.3);
    }
    .classes .class h1.title{ 
        color: var(--blue);
        font-size: 3.3vw;
        padding: 0 3vw;
        margin: 0;
        margin-top: 4vw;
    }
    .classes .class h1.under-title{ 
        color: var(--gray);
        font-size: 3vw;
        padding: 0 3vw;
        margin: 0;
    }
    .classes .class h2{ 
        color: var(--light);
        font-size: 3vw;
        padding: 0 3vw;
        margin: 0;
        margin-bottom: 3vw;
        margin-top: 1vw;
        font-weight: normal;
    }



    .class-view h1.name{
        color: var(--blue);
        font-family: 'iransans';
        font-size: 3.6vw;
        text-align: center;
        margin: 0;
        margin-top: 4vw;
    }    
    .class-view h1.title{
        color: var(--gray);
        font-family: 'iransans';
        font-size: 3.3vw;
        text-align: center;
        margin-top: 0;
        font-weight: normal;
    }    
    .class-view table{
        background-color: var(--background);
        /* display: block; */
        width: 95%;
        margin: 3vw auto;
        border-radius: 2vw;
        padding: 2vw 0;
        text-align: right;
        color: white;
    }
    .class-view table td{
        padding: 1vw 0;
        font-size: 3vw;
        /* background-color: white; */
    }
    .class-view table td .progressbar{
        border-radius: 3vw;
        background-color: var(--dark);
        height: 3vw;
        width: 20vw;
    }
    .class-view table td.progress{
        width: 22vw;
    }
    .class-view table td .bar{
        border-radius: 3vw;
        background-color: var(--blue);
        height: 3vw;
        width: 30%;
    }
    .class-view table td.user{
        width: 10vw;
        text-align: center;
        color: var(--blue);
    }
    .class-view table td.apsence{
        width: 15vw;
        color: var(--red);
    }
    .class-view table td i.posetive{
        color: var(--green);
        font-size: 3vw;
        padding: 0 0.3vw;
    }
    .class-view table td i.negetive{
        color: var(--red);
        font-size: 3vw;
        padding: 0 0.3vw;
    }
    .class-view table td a{
        color: var(--gray);
        font-size: 2vw;
        text-decoration: none;
        padding-right: 0.8vw;
    }
    .class-view table td a:hover{
        color: var(--blue);
    }
    .class-view table td.points{
        max-width: 5vw;
        padding: 1vw 1vw;
    }
    
    .class-view table td a i.times:hover{color: var(--red);}
}



.hidden{display: none;}