@font-face{
    font-family: 'iransans';
    src: url('iransans.ttf');
}
:root {
    /* --purple: #8305be; */
    --purple: #1971e4;
    --yellow: #ffcc00;
    --hover: #8305be;
    --dark: #050507;
    --light: white;
    --blue: rgb(0, 140, 255);
    --textcolor: rgb(29, 29, 29);
}
body{
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    font-family: 'iransans';
    direction: rtl;
    background-color: white;
}
.transparent-modal{
    display: none;
    background-color: transparent;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
}
.hidden{
    display: none;
}
@media only screen and (min-width: 800px) {
    .navigation{
        /* direction: ltr; */
        position: absolute;
        top: 2%;
        left: 1%;
        height: 95%;
        width: 98%;
        border-radius: 3vw;
        background-color: blue;
        color: white;
        margin: 0;
        box-shadow: 0 0 0.8vw 0.5vw rgba(0, 0, 0, 0.2);
    }
    .dashboard{
        position: absolute;
        top: 2%;
        left: 1%;
        height: 95%;
        width: 94%;
        border-radius: 3vw;
        background-color: white;
        color: white;
        margin: 0;
        transition-duration: 500ms;
        color: var(--textcolor);
    }
    .navigation .logout{
        position: absolute;
        top: 2vw;
        right: 1.5vw;
        color: white;
    }
    .navigation .logout a{
        color: white;
        text-decoration: none;
        font-family: 'iransans';
        font-size: 1.3vw;
        transition-duration: 500ms;
    }
    .navigation .logout i{
        font-size: 1.5vw;
        padding-left: 2vw;
        padding-top: 1vw;
    }
    .navigation .logout a:hover{
        color: rgb(255, 107, 107);
    }
    .navigation .links{
        /* background-color: lightgreen; */
        margin-top: 15%;
        text-align: center;
        width: fit-content;
        margin-right: 1%;
    }
    .navigation .links .link{
        display: block;
        font-size: 1.8vw;
        padding: 0.5vw 0.7vw;
        margin-top: 0.5vw;
        /* background-color: lightgreen; */
        border-top-right-radius: 1vw;
        border-bottom-right-radius: 1vw;
        text-align: right;
        padding-left: 3vw;
        color: white;
        text-decoration: none;
        cursor: pointer;
        transition-duration: 500ms;
        background-color: transparent;
    }
    .navigation .links .link.active, .navigation .links .link:hover{
        background-color: white;
        color: var(--textcolor);
    }
    .navigation .links .link i{
        padding-left: 1vw;
    }
    .navigation .links .link .text{
        font-size: 1.1vw;
        display: inline-block;
    }
    .dashboard button.navbar-toggler{
        display: none;
    }
    .dashboard nav{
        /* background-color: lightgreen; */
        overflow: hidden;
        padding-right: 2vw;
        margin-top: 2vw;
        padding-left: 4vw;
    }
    .dashboard nav a.nav-link{
        color: var(--textcolor);
        text-decoration: none;
        font-family: 'iransans';
        font-size: 1.3vw;
        padding: 0.4vw 1vw;
        float: right;
        margin-right: 1vw;
        transition-duration: 500ms;
        border-bottom: white 0.2vw solid;
    }
    .dashboard nav a.nav-link:hover{
        border-bottom: var(--textcolor) 0.2vw solid;
    }
    .dashboard nav a.nav-link i{
        padding-left: 1vw;
    }
    .dashboard nav a.user-login{
        color: var(--blue);
        text-decoration: none;
        font-family: 'iransans';
        font-size: 2vw;
        padding: 0.4vw 1vw;
        float: left;
    }
    .dashboard nav a.user-login .username{
        font-size: 1vw;
        padding-left: 1vw;
        display: inline-block;
    }
    .dashboard nav a.user-login:hover{
        color: var(--hover);
    }
    .user-action{
        display: none;
        position: absolute;
        top: 3vw;
        left: 7vw;
        z-index: 10;
        border-radius: 1.5vw;
        border: lightgray 1px solid;
        box-shadow: 0 0 0.5vw 0.1vw rgba(0, 0, 0, 0.2);
        background-color: white;
    }
    .user-action .acount{
        padding: 1vw 1vw;
        overflow: hidden;
    }
    .user-action .acount img.avatar{
        width: 5vw;
        float: right;
    }
    .user-action .acount .text{
        float: right;
        padding-right: 1vw;
    }
    .user-action .acount .text h1.username{
        font-family: 'iransans';
        font-size: 1.2vw;
        margin: 0;
        margin-top: 1vw;
    }
    .user-action .acount .text h1.email{
        font-family: 'iransans';
        font-size: 1vw;
        margin: 0;
        color: rgb(139, 139, 139);
    }
    .user-action .links a{
        display: block;
        padding: 0.7vw 1vw;
        color: var(--textcolor);
        text-decoration: none;
        font-family: 'iransans';
        font-size: 1.3vw;
        border-top: lightgray 0.1vw solid;
        transition-duration: 500ms;
    }
    .user-action .links a:hover{
        background-color: lightgray;
    }
    .user-action .links a i{
        padding-left: 1vw;
        color: var(--blue);
    }
    .dashboard h1.title{
        font-family: 'iransans';
        font-size: 1.5vw;
        width: 90%;
        margin: auto;
        padding-top: 1vw;
        margin-top: 2vw;
        color: var(--purple);
        border-top: lightgray 0.1vw solid;
    }
    .dashboard h1.title i{
        padding-left: 1vw;
    }
    .dashboard .teams-area{
        width: 90%;
        margin: auto;
        overflow-x: auto;
        overflow-y: hidden;
        padding: 0.3vw 0;
        /* background-color: lightgreen; */
    }
    .dashboard .all-content{
        width: 200%;
    }
    .dashboard .teams-area a.team{
        float: right;
        /* display: inline-block; */
        height: 10vw;
        text-align: center;
        min-width: 14vw;
        border: cyan 2px solid;
        border-radius: 1.5vw;
        padding: 1vw;
        margin: 0.5vw 0;
        margin-left: 1vw;
        box-shadow: 0 0 0.5vw 0.3vw rgba(0, 90, 86, 0.2);
        text-decoration: none;
        color: var(--textcolor);
        transition-duration: 500ms;
        cursor: pointer;
    }
    .dashboard .teams-area a.team:hover{
        background-color: cyan;
    }
    .dashboard .teams-area a.add-team{
        float: right;
        /* display: inline-block; */
        height: 10vw;
        width: 14vw;
        border: salmon 3px dashed;
        background-color: white;
        border-radius: 1.5vw;
        box-shadow: 0 0 0.5vw 0.1vw rgba(0, 0, 0, 0.2);
        padding: 1vw;
        margin: 0.5vw 0;
        margin-left: 1vw;
        color: salmon;
        transition-duration: 500ms;
        text-decoration: none;
        cursor: pointer;
    }
    .dashboard .teams-area a.add-team:hover{
        background-color: salmon;
        border: salmon 3px dashed;
        color: white;
    }
    .dashboard .teams-area a.add-team i{
        display: block;
        margin: auto;
        text-align: center;
        font-size: 4vw;
        padding-top: 2vw;
    }
    .dashboard .teams-area a.add-team h1{
        text-align: center;
        font-size: 1.5vw;
        padding-top: 1vw;
    }
    .dashboard .teams-area .team .name{
        color: black;
        font-weight: bold;
        font-family: 'iransans';
        font-size: 1.2vw;
        margin-top: 1vw;
        margin-bottom: 1vw;
    }
    .dashboard .teams-area .team .item{
        color: black;
        /* font-weight: bold; */
        font-family: 'iransans';
        font-size: 1.2vw;
        /* margin-top: 1vw; */
    }
    .dashboard .two-part{
        overflow: hidden;
        padding: 1vw 5vw;
    }
    .dashboard .two-part .part{
        float: right;
        border: lightgray 0.1vw solid;
        box-shadow: 0 0 0.5vw 0.1vw rgba(0, 0, 0, 0.2);
        border-radius: 1.5vw;
        width: 40%;
        margin-left: 4vw;
        overflow: hidden;
        padding: 1vw;
        height: 11vw;
        position: relative;
    }
    .dashboard .two-part .part img.avatar{
        width: 7vw; 
        float: right;
    }
    .dashboard .two-part .part .text{
        float: right;
        padding-right: 2vw;
    }
    .dashboard .two-part .part .item{
        font-family: 'iransans';
        font-size: 1.2vw;
    }
    .dashboard .two-part .part .item i{
        padding-left: 0.5vw;
    }
    .dashboard .two-part .part .text h1{
        margin: 0;
        font-family: 'iransans';
        font-size: 1.5vw;
    }
    .dashboard .two-part .part .text a.edit{
        color: var(--blue);
        text-decoration: none;
        font-family: 'iransans';
        font-size: 1.2vw;
        text-align: left;
        position: absolute;
        left: 3vw;
        bottom: 1vw;
        transition-duration: 500ms;
    }
    .dashboard .two-part .part .text a.edit:hover{
        color: chocolate;
    }
    .dashboard .two-part .part .text a.edit i{
        padding-left: 0.5vw;
    }
    .blue{
        color: var(--blue);
    }
    .bgred{
        background-color: rgb(255, 44, 44);
    }
    .dashboard .two-part .part h1.part-title{
        margin: 0;
        font-family: 'iransans';
        font-size: 1.2vw;
        border-bottom: lightgray 0.12vw solid;
        color: var(--blue);
    }
    .dashboard .two-part .part h1.part-title i{
        padding-left: 0.5vw;
    }
    .dashboard .two-part .part .last-news {
        padding: 1vw;
        height: 8vw;
        overflow-y: scroll;
    }
    /* .dashboard .two-part .part .last-news::-webkit-scrollbar{
        display: none;
    } */
    .dashboard .two-part .part .last-news table td{
        /* border-bottom: var(--blue) 0.1vw solid; */
        padding-bottom: 1vw;
    }
    .dashboard .two-part .part .last-news table td.text{
        font-family: 'iransans';
        font-size: 1vw;
        text-align: justify;
    }
    .pop-up-modal{
        position: fixed;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.514);
        z-index: 99;
        display: none;
    }
    .pop-up{
        position: fixed;
        top: 4vw;
        right: 15%;
        width: 60%;
        padding: 2vw 5%;
        background-color: white;
        border-radius: 2vw;
        z-index: 100;
        text-align: center;
        display: none;
    }
    .pop-up span.close{
        position: absolute;
        left: 3vw;
        top: 2vw;
        font-size: 2vw;
        cursor: pointer;
    }
    .pop-up span.close:hover{
        color: chocolate;
    }
    .pop-up form{
        text-align: center;
        display: block;
    }
    /* .pop-up form *{
        display: block;
    } */
    .pop-up h1.popup-title{
        color: var(--purple);
        font-family: 'iransans';
        font-size: 2vw;
        border-bottom: var(--purple) 2px solid;
        margin: 0;
        padding: 0;
        width: 80%;
        margin: auto;
        padding-bottom: 1vw;
        margin-bottom: 2vw;
    }
    .pop-up form.add-team-form .text-input{
        background-color: white;
        box-shadow: 0 0 0.5vw 0.2vw rgba(0, 0, 0, 0.2);
        border-radius: 2vw;
        width: 60%;
        margin: auto;
        margin-top: 1.5vw;
        direction: rtl;
        text-align: right;
        padding: 0;
    }
    .pop-up form.add-team-form .text-input input{
        width: 80%;
        border: none;
        font-family: 'iransans';
        font-size: 1.1vw;
        padding: 0.4vw 1vw;
    }
    .pop-up form.add-team-form .text-input input:focus{
        outline: none;
    }
    .pop-up form.add-team-form .text-input i{
        font-size: 1.3vw;
        padding: 0 1vw;
        color: var(--purple);
        display: inline;
    }
    .pop-up form.add-team-form select{
        border: none;
        width: 90%;
        background-color: white;
        display: block;
        margin: auto;
        padding: 0.4vw 0;
        font-family: 'iransans';
    }
    .pop-up form.add-team-form select:focus{
        outline: none;
    }
    .pop-up form object{
        padding: 0.5vw 0;
        font-family: 'iransans';
    }
    .pop-up form.add-team-form input.submit{
        display: block;
        width: 60%;
        margin: 2vw auto;
        border: none;
        cursor: pointer;
        background-color: var(--purple);
        box-shadow: 0 0 0.5vw 0.3vw rgba(0, 0, 0, 0.2);
        color: white;
        font-family: 'iransans';
        font-size: 1.2vw;
        padding: 0.4vw 0;
        border-radius: 2vw;
    }
    .pop-up form.add-team-form input.submit:hover{
        background-color: chocolate;
    }
    .pop-up form.add-team-form input.submit:focus{
        outline: none;
    }
    .team-info-panel{
        width: 90%;
        text-align: right;
        direction: rtl;
        margin: auto;
    }
    .team-info-panel h1.info-title{
        font-family: 'iransans';
        font-size: 1.5vw;
        color: var(--purple);
        margin: 0;
        padding: 1.5vw 0;
    }
    .team-info-panel .info{
        font-family: 'iransans';
        border-radius: 1.5vw;
        border: var(--hover) 2px dashed;
        padding: 1vw 2vw;
        width: 70%;
    }
    .team-info-panel .info h1.name{
        font-family: 'iransans';
        font-size: 1.3vw;
    }
    .team-info-panel .info .red{
        color: red;
        display: inline;
    }
    .team-info-panel .info .green{
        color: green;
        display: inline;
    }
    .team-info-panel .info .purple{
        color: var(--purple);
        display: inline;
    }
    .team-info-panel .part{
        float: right;
        width: 50%;
    }
    .team-info-panel .member{
        background-color: rgb(176, 236, 196);
        font-family: 'iransans';
        font-size: 1.2vw;
        border-radius: 1vw;
        /* border: lightgray 0.1vw solid; */
        box-shadow: 0 0 0.5vw 0.1vw rgba(0, 0, 0, 0.2);
        padding: 0.4vw 1vw;
        color: var(--textcolor);
        position: relative;
        margin-bottom: 1vw;
    }
    .team-info-panel .member .actions{
        /* background-color: lightgreen; */
        position: absolute;
        left: 1vw;
        top: 0.4vw;
    }
    .team-info-panel .member .actions a{
        color: rgb(115, 168, 238);
        transition-duration: 500ms;
    }
    .team-info-panel .member .actions a:hover{
        color: chocolate;
    }
    a.add-member{
        background-color: var(--purple);
        color: white;
        cursor: pointer;
        border-radius: 1vw;
        padding: 0.4vw 1vw;
        display: block;
        width: fit-content;
        transition-duration: 500ms;
        margin-top: 2vw;
    }
    a.add-member:hover{
        background-color: chocolate;
        padding: 0.4vw 2vw;
    }
    a.add-member i{
        padding-left: 1vw;
    }
    form.add-member{
        margin: 0;
        padding: 0;
        width: 100%;
        display: none;
    }
    form.add-member .text-input{
        background-color: white;
        border-radius: 1.5vw;
        border: lightgray 0.1vw solid;
        box-shadow: 0 0 0.5vw 0.1vw rgba(0, 0, 0, 0.2);
        border-left: none;
        width: 90%;
        margin: auto;
        margin-bottom: 1vw;
    }
    form.add-member .text-input input{
        font-size: 1.2vw;
        font-family: 'iransans';
        padding: 0.5vw 1vw;
        border: none;
        width: 80%;
    }
    form.add-member .text-input i{
        color: var(--purple);
        font-size: 1.4vw;
        padding: 0.5vw 1vw;
    }
    form.add-member input:focus{
        outline: none;
    }
    form.add-member input.inline-submit{
        font-family: 'iransans';
        font-size: 1.1vw;
        padding: 0.4vw 1vw;
        background-color: var(--purple);
        /* border-radius: 0.5vw; */
        border-radius: 1vw;
        border: lightgray 0.1vw solid;
        box-shadow: 0 0 0.5vw 0.1vw rgba(0, 0, 0, 0.2);
        border-right: none;
        color: white;
        cursor: pointer;
        width: 15%;
    }
    form.add-member input.inline-submit:hover{
        background-color: chocolate;
    }

    .team-info-panel .no-members{
        color: rgb(180, 180, 180);
        margin-bottom: 2vw;
    }
    .team-info-panel a.pay{
        /* background-color: var(--purple);
        font-size: 1.1vw;
        color: white;
        border-radius: 1vw; */
        /* background-color: var(--purple); */
        color: var(--purple);
        border-radius: 1vw;
        font-family: 'iransans';
        font-size: 1.3vw;
        font-weight: bold;
        text-decoration: none;
        padding: 0.3vw 1vw;
        display: block;
        width: fit-content;
        margin-top: 1vw;
    }
    .team-info-panel a.pay:hover{color: chocolate;}
    .team-info-panel a.pay i{
        padding-left: 0.5vw;
    }
    form.add-member p.note{
        color: darkgray;
        padding: 0;
        margin-top: 0;
        margin-bottom: 1vw;
    }
    /* ----------------------- flag ----------------------------- */
    
}
@media only screen and (max-width: 800px) {
    .navigation{
        /* direction: ltr; */
        position: absolute;
        top: 2%;
        left: 1%;
        height: 95%;
        width: 98%;
        border-radius: 3vw;
        background-color: blue;
        color: white;
        margin: 0;
        box-shadow: 0 0 0.8vw 0.5vw rgba(0, 0, 0, 0.2);
    }
    .dashboard{
        position: absolute;
        top: 2%;
        left: 1%;
        height: 95%;
        width: 90%;
        border-radius: 3vw;
        background-color: white;
        color: white;
        margin: 0;
        transition-duration: 500ms;
        color: var(--textcolor);
    }
    .navigation .logout{
        position: absolute;
        top: 2vw;
        right: 2.5vw;
        color: white;
    }
    .navigation .logout a{
        color: white;
        text-decoration: none;
        font-family: 'iransans';
        font-size: 3.3vw;
        transition-duration: 500ms;
    }
    .navigation .logout i{
        font-size: 4vw;
        padding-left: 4vw;
        padding-top: 1vw;
    }
    .navigation .logout a:hover{
        color: rgb(255, 107, 107);
    }
    .navigation .links{
        /* background-color: lightgreen; */
        margin-top: 20%;
        text-align: center;
        width: fit-content;
        margin-right: 2%;
    }
    .navigation .links .link{
        display: block;
        font-size: 4vw;
        padding: 0.5vw 0.7vw;
        margin-top: 1.5vw;
        /* background-color: lightgreen; */
        border-top-right-radius: 1vw;
        border-bottom-right-radius: 1vw;
        text-align: right;
        padding-left: 20vw;
        color: white;
        text-decoration: none;
        cursor: pointer;
        transition-duration: 500ms;
        background-color: transparent;
    }
    .navigation .links .link.active, .navigation .links .link:hover{
        background-color: white;
        color: var(--textcolor);
    }
    .navigation .links .link i{
        padding-left: 3vw;
    }
    .navigation .links .link .text{
        font-size: 3.1vw;
        display: inline-block;
    }
    #navbarSupportedContent.collapse{
        background-color: rgba(255, 255, 255, 0.842);
        border-radius: 3vw;
        border: lightgray 0.3vw solid;
        box-shadow: 0 0 1vw 0.5vw rgba(0, 0, 0, 0.2);
        overflow: hidden;
        position: absolute;
        z-index: 100;
        top: 5;
        right: 5%;
        width: 90%;
        display: none;
    }
    .dashboard button.navbar-toggler{
        /* display: none; */
        background-color: white;
        border: none;
        font-size: 5vw;
        float: right;
    }
    .dashboard nav{
        /* background-color: lightgreen; */
        overflow: hidden;
        padding-right: 4vw;
        margin-top: 5vw;
        padding-left: 4vw;
    }
    .dashboard nav a.nav-link{
        color: var(--textcolor);
        text-decoration: none;
        font-family: 'iransans';
        font-size: 3.3vw;
        padding: 3vw 3vw;
        /* float: right; */
        display: block;
        text-align: center;
        margin-right: 1vw;
        transition-duration: 500ms;
        border-bottom: lightgray 0.2vw solid;
    }
    .dashboard nav a.nav-link:hover{
        border-bottom: var(--textcolor) 0.2vw solid;
    }
    .dashboard nav a.nav-link i{
        padding-left: 1vw;
    }
    .dashboard nav a.user-login{
        color: var(--blue);
        text-decoration: none;
        font-family: 'iransans';
        font-size: 5vw;
        padding: 0 1vw;
        float: left;
    }
    .dashboard nav a.user-login .username{
        font-size: 3vw;
        padding-left: 2vw;
        display: inline-block;
    }
    .dashboard nav a.user-login:hover{
        color: var(--hover);
    }
    .user-action{
        display: none;
        position: absolute;
        top: 3vw;
        left: 10vw;
        z-index: 100;
        border-radius: 1.5vw;
        border: lightgray 1px solid;
        box-shadow: 0 0 0.5vw 0.1vw rgba(0, 0, 0, 0.2);
        background-color: white;
    }
    .user-action .acount{
        padding: 3vw 3vw;
        overflow: hidden;
    }
    .user-action .acount img.avatar{
        width: 15vw;
        float: right;
    }
    .user-action .acount .text{
        float: right;
        padding-right: 1vw;
    }
    .user-action .acount .text h1.username{
        font-family: 'iransans';
        font-size: 3.2vw;
        margin: 0;
        margin-top: 1vw;
    }
    .user-action .acount .text h1.email{
        font-family: 'iransans';
        font-size: 3vw;
        margin: 0;
        color: rgb(139, 139, 139);
    }
    .user-action .links a{
        display: block;
        padding: 2vw 3vw;
        color: var(--textcolor);
        text-decoration: none;
        font-family: 'iransans';
        font-size: 3.2vw;
        border-top: lightgray 0.1vw solid;
        transition-duration: 500ms;
    }
    .user-action .links a:hover{
        background-color: lightgray;
    }
    .user-action .links a i{
        padding-left: 1vw;
        color: var(--blue);
    }
    .dashboard h1.title{
        font-family: 'iransans';
        font-size: 3.5vw;
        width: 90%;
        margin: auto;
        padding-top: 1vw;
        margin-top: 2vw;
        color: var(--purple);
        border-top: lightgray 0.1vw solid;
    }
    .dashboard h1.title i{
        padding-left: 1vw;
    }
    .dashboard .teams-area{
        width: 90%;
        margin: auto;
        overflow-x: auto;
        overflow-y: hidden;
        padding: 3vw 0;
        /* background-color: lightgreen; */
    }
    .dashboard .all-content{
        width: 400%;
    }
    .dashboard .teams-area a.team{
        float: right;
        /* display: inline-block; */
        height: 22vw;
        min-width: 30vw;
        text-align: center;
        border: cyan 2px solid;
        border-radius: 1.5vw;
        padding: 1vw;
        margin: 0.5vw 0;
        margin-left: 1vw;
        box-shadow: 0 0 0.5vw 0.3vw rgba(0, 90, 86, 0.2);
        text-decoration: none;
        color: var(--textcolor);
        transition-duration: 500ms;
        cursor: pointer;
    }
    .dashboard .teams-area a.team:hover{
        background-color: cyan;
    }
    .dashboard .teams-area a.add-team{
        float: right;
        /* display: inline-block; */
        height: 22vw;
        width: 30vw;
        border: salmon 3px dashed;
        background-color: white;
        border-radius: 1.5vw;
        box-shadow: 0 0 0.5vw 0.1vw rgba(0, 0, 0, 0.2);
        padding: 1vw;
        margin: 0.5vw 0;
        margin-left: 1vw;
        color: salmon;
        transition-duration: 500ms;
        text-decoration: none;
    }
    .dashboard .teams-area a.add-team:hover{
        background-color: salmon;
        border: salmon 3px dashed;
        color: white;
    }
    .dashboard .teams-area a.add-team i{
        display: block;
        margin: auto;
        text-align: center;
        font-size: 7vw;
        padding-top: 2vw;
        margin-bottom: 0;
    }
    .dashboard .teams-area a.add-team h1{
        text-align: center;
        font-size: 3.5vw;
        padding-top: 1vw;
    }
    .dashboard .teams-area .team .name{
        color: black;
        font-weight: bold;
        font-family: 'iransans';
        font-size: 3.2vw;
        margin-top: 2vw;
        margin-bottom: 2vw;
    }
    .dashboard .teams-area .team .item{
        color: black;
        /* font-weight: bold; */
        font-family: 'iransans';
        font-size: 3.2vw;
        /* margin-top: 1vw; */
    }
    .dashboard .two-part{
        overflow: hidden;
        padding: 1vw 5vw;
    }
    .dashboard .two-part .part{
        float: right;
        border: lightgray 0.3vw solid;
        box-shadow: 0 0 0.5vw 0.2vw rgba(0, 0, 0, 0.2);
        border-radius: 2.5vw;
        width: 90%;
        margin-left: 4vw;
        overflow: hidden;
        padding: 3vw;
        min-height: 27vw;
        position: relative;
        margin-top: 3vw;
    }
    .dashboard .two-part .part img.avatar{
        width: 13vw; 
        float: right;
    }
    .dashboard .two-part .part .text{
        float: right;
        /* width: 60%; */
        padding-right: 2vw;
        margin-bottom: 3vw;
    }
    .dashboard .two-part .part .item{
        font-family: 'iransans';
        font-size: 3.2vw;
    }
    .dashboard .two-part .part .item i{
        padding-left: 0.5vw;
    }
    .dashboard .two-part .part .text h1{
        margin: 0;
        font-family: 'iransans';
        font-size: 3.5vw;
    }
    .dashboard .two-part .part .text a.edit{
        color: var(--blue);
        text-decoration: none;
        font-family: 'iransans';
        font-size: 3.2vw;
        text-align: left;
        position: absolute;
        left: 3vw;
        bottom: 1vw;
        transition-duration: 500ms;
    }
    .dashboard .two-part .part .text a.edit:hover{
        color: chocolate;
    }
    .dashboard .two-part .part .text a.edit i{
        padding-left: 1.5vw;
    }
    .blue{
        color: var(--blue);
    }
    .bgred{
        background-color: rgb(255, 44, 44);
    }
    .dashboard .two-part .part h1.part-title{
        margin: 0;
        font-family: 'iransans';
        font-size: 3.5vw;
        border-bottom: lightgray 0.12vw solid;
        color: var(--blue);
    }
    .dashboard .two-part .part h1.part-title i{
        padding-left: 1vw;
        font-size: 4vw;
    }
    .dashboard .two-part .part .last-news {
        padding: 1vw;
        height: 17vw;
        overflow-y: scroll;
    }
    .dashboard .two-part .part .last-news::-webkit-scrollbar{
        /* display: none; */
    }
    .dashboard .two-part .part .last-news table td{
        /* border-bottom: var(--blue) 0.1vw solid; */
        padding-bottom: 3vw;
    }
    .dashboard .two-part .part .last-news table td.text{
        font-family: 'iransans';
        font-size: 3vw;
        text-align: justify;
    }
    .pop-up-modal{
        position: fixed;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.514);
        z-index: 99;
        display: none;
    }
    .pop-up{
        position: fixed;
        top: 6vw;
        right: 2%;
        width: 85%;
        padding: 4vw 5%;
        background-color: white;
        border-radius: 4vw;
        z-index: 100;
        text-align: center;
        display: none;
    }
    .pop-up span.close{
        position: absolute;
        left: 4vw;
        top: 2vw;
        font-size: 5vw;
        cursor: pointer;
    }
    .pop-up span.close:hover{
        color: chocolate;
    }
    .pop-up form{
        text-align: center;
        display: block;
    }
    /* .pop-up form *{
        display: block;
    } */
    .pop-up h1.popup-title{
        color: var(--purple);
        font-family: 'iransans';
        font-size: 3.5vw;
        border-bottom: var(--purple) 2px solid;
        margin: 0;
        padding: 0;
        width: 90%;
        margin: auto;
        padding-bottom: 1vw;
        margin-bottom: 3vw;
    }
    .pop-up form .text-input{
        background-color: white;
        box-shadow: 0 0 0.5vw 0.3vw rgba(0, 0, 0, 0.2);
        border-radius: 4vw;
        width: 90%;
        margin: auto;
        margin-top: 4vw;
        direction: rtl;
        text-align: right;
        padding: 0;
    }
    .pop-up form .text-input input{
        width: 80%;
        border: none;
        font-family: 'iransans';
        font-size: 3.4vw;
        padding: 0.5vw 1vw;
    }
    .pop-up form .text-input input:focus{
        outline: none;
    }
    .pop-up form .text-input i{
        font-size: 4vw;
        padding: 0 3vw;
        color: var(--purple);
        display: inline;
    }
    .pop-up form select{
        border: none;
        width: 90%;
        background-color: white;
        display: block;
        margin: auto;
        padding: 0.5vw 0;
        font-family: 'iransans';
    }
    .pop-up form select:focus{
        outline: none;
    }
    .pop-up form object{
        padding: 0.5vw 0;
        font-family: 'iransans';
    }
    .pop-up form input.submit{
        display: block;
        width: 90%;
        margin: 4vw auto;
        border: none;
        cursor: pointer;
        background-color: var(--purple);
        box-shadow: 0 0 0.5vw 0.3vw rgba(0, 0, 0, 0.2);
        color: white;
        font-family: 'iransans';
        font-size: 3.5vw;
        padding: 0.5vw 0;
        border-radius: 4vw;
    }
    .pop-up form input.submit:hover{
        background-color: chocolate;
    }
    .pop-up form input.submit:focus{
        outline: none;
    }
    



    .team-info-panel{
        width: 90%;
        text-align: right;
        direction: rtl;
        margin: auto;
        max-height: 90%;
        overflow-y: scroll;
    }
    .team-info-panel h1.info-title{
        font-family: 'iransans';
        font-size: 3.5vw;
        color: var(--purple);
        margin: 0;
        padding: 1.5vw 0;
    }
    .team-info-panel .info{
        font-family: 'iransans';
        border-radius: 3.5vw;
        border: var(--hover) 2px dashed;
        padding: 2vw 3vw;
        width: 90%;
    }
    .team-info-panel .info h1.name{
        font-family: 'iransans';
        font-size: 3.3vw;
        margin: 0;
        
    }
    .team-info-panel .info .red{
        color: red;
        display: inline;
    }
    .team-info-panel .info .green{
        color: green;
        display: inline;
    }
    .team-info-panel .info .purple{
        color: var(--purple);
        display: inline;
    }
    .team-info-panel .part{
        float: right;
        width: 100%;
    }
    .team-info-panel .member{
        background-color: rgb(176, 236, 196);
        font-family: 'iransans';
        font-size: 3.7vw;
        border-radius: 3vw;
        /* border: lightgray 0.1vw solid; */
        box-shadow: 0 0 0.5vw 0.1vw rgba(0, 0, 0, 0.2);
        padding: 1vw 3vw;
        color: var(--textcolor);
        position: relative;
        margin-bottom: 3vw;
    }
    .team-info-panel .member .actions{
        /* background-color: lightgreen; */
        position: absolute;
        left: 3vw;
        top: 0.5vw;
    }
    .team-info-panel .member .actions a{
        color: rgb(115, 168, 238);
        transition-duration: 500ms;
        font-size: 4vw;
    }
    .team-info-panel .member .actions a:hover{
        color: chocolate;
    }
    a.add-member{
        background-color: var(--purple);
        color: white;
        cursor: pointer;
        border-radius: 3vw;
        padding: 1vw 3vw;
        display: block;
        width: fit-content;
        transition-duration: 500ms;
        margin-top: 2vw;
    }
    a.add-member:hover{
        background-color: chocolate;
        padding: 1vw 5vw;
    }
    a.add-member i{
        padding-left: 3vw;
    }
    form.add-member{
        margin: 0;
        padding: 0;
        width: 100%;
        display: none;
    }
    form.add-member .text-input{
        background-color: white;
        border-radius: 3.5vw;
        border: lightgray 0.1vw solid;
        box-shadow: 0 0 0.5vw 0.1vw rgba(0, 0, 0, 0.2);
        border-left: none;
        width: 90%;
        margin: auto;
        margin-bottom: 3vw;
    }
    form.add-member .text-input input{
        font-size: 3.2vw;
        font-family: 'iransans';
        padding: 0.5vw 1vw;
        border: none;
        width: 80%;
    }
    form.add-member .text-input i{
        color: var(--purple);
        font-size: 3.4vw;
        padding: 0.5vw 1vw;
    }
    form.add-member input:focus{
        outline: none;
    }
    form.add-member input.inline-submit{
        font-family: 'iransans';
        font-size: 3.5vw;
        padding: 1vw 4vw;
        background-color: var(--purple);
        /* border-radius: 0.5vw; */
        border-radius: 3vw;
        border: lightgray 0.1vw solid;
        box-shadow: 0 0 0.5vw 0.1vw rgba(0, 0, 0, 0.2);
        border-right: none;
        color: white;
        cursor: pointer;
        display: block;
        width: 90%;
        margin: auto;
    }
    form.add-member input.inline-submit:hover{
        background-color: chocolate;
    }

    .team-info-panel .no-members{
        color: rgb(180, 180, 180);
        margin-bottom: 2vw;
    }
    .team-info-panel a.pay{
        /* background-color: var(--purple);
        font-size: 1.1vw;
        color: white;
        border-radius: 1vw; */
        /* background-color: var(--purple); */
        color: var(--purple);
        border-radius: 1vw;
        font-family: 'iransans';
        font-size: 4vw;
        font-weight: bold;
        text-decoration: none;
        padding: 0.3vw 1vw;
        display: block;
        width: fit-content;
        margin-top: 3vw;
    }
    .team-info-panel a.pay:hover{color: chocolate;}
    .team-info-panel a.pay i{
        padding-left: 2vw;
    }
    form.add-member p.note{
        color: darkgray;
        padding: 0;
        margin-top: 0;
        margin-bottom: 3vw;
    }
}
