
.hidden{display: none;}
.green{color: green;}
.red{color: red;}


@media only screen and (min-width: 800px) {
    h1.league-title{
        font-family: 'iransans';
        font-size: 1.7vw;
        color: var(--purple);
        text-align: center;
        border-bottom: var(--purple) 0.2vw dotted;
        width: 60%;
        margin: auto;
        margin-top: 4vw;
        padding-bottom: 1vw;
    }
    .tab-view{
        /* background-color: lightblue; */
        width: 95%;
        margin: 2vw auto;
        overflow: hidden;
    }
    .tab-view .tab-links{
        float: right;
        width: 19%;
        /* background-color: lightblue; */
        margin-top: 3vw;
        padding-right: 1%;
    }
    .tab-view .tab-links a{
        display: block;
        padding: 0.8vw 1vw;
        text-decoration: none;
        color: var(--purple);
        margin: 1%;
        border-top-right-radius: 1vw;
        border-bottom-right-radius: 1vw;
    }
    .tab-view .tab-links a:hover{
        box-shadow: 0 0 0.6vw 0.3vw rgba(0, 0, 0, 0.2);
        /* background-color: lightblue; */
        /* color: white; */
    }
    .tab-view .tab-links a.active{
        box-shadow: 0 0 0.6vw 0.3vw rgba(0, 0, 0, 0.2);
        background-color: var(--purple);
        color: white;
    }
    .tab-view .tab-content{
        background-color: white;
        border-radius: 2vw;
        box-shadow: 0 0 0.6vw 0.3vw rgba(0, 0, 0, 0.2);
        float: right;
        width: 65%;
        /* text-align: center; */
        margin: 1%;
        margin-right: 0;
    }
    .tab-view .tab-content .score-board{
        width: 60%;
        margin: auto;
        margin-top: 3vw;
        margin-bottom: 1vw;
        position: relative;
    }
    .tab-view .tab-content img.score{
        width: 100%;
    }
    .tab-view .tab-content .score-board .team-a{
        position: absolute;
        top: 1.2vw;
        right: 6vw;
        font-family: 'iransans';
        font-size: 1.3vw;
        font-weight: bold;
        color: white;
    }
    .tab-view .tab-content .score-board .team-b{
        position: absolute;
        top: 1.2vw;
        left: 6vw;
        font-family: 'iransans';
        font-size: 1.3vw;
        font-weight: bold;
        color: white;
    }
    .tab-view .tab-content .score-board .goals{
        position: absolute;
        top: 1.2vw;
        right: 47%;
        font-family: 'iransans';
        font-size: 1.3vw;
        font-weight: bold;
        color: black;
    }
    .tab-view .tab-content .iframe-holder{
        width: 90%;
        margin: auto;
    }
    .tab-view .tab-content iframe{
        width: 100%;
        height: 35vw;
    }
    a.stream{
        text-decoration: none;
        color: var(--purple);
        font-family: 'iransans';
        font-size: 1.5vw;
        margin-right: 3vw;
        margin-bottom: 3vw;
        display: block;
        width: fit-content;
        transition-duration: 500ms;
    }
    a.stream:hover{color: chocolate;}
    a.stream i{padding-left: 1vw;}
    .two-part{
        overflow: hidden;
        width: 90%;
        margin: auto;
        margin-bottom: 3vw;
    }
    .partial{
        width: 48%;
        margin-right: 2%;
        float: right;
        /* background-color: lightblue; */
    }
    .partial a{
        display: block;
        background-color: var(--purple);
        color: white;
        text-decoration: none;
        padding: 0.5vw 0;
        text-align: center;
        transition-duration: 500ms;
        cursor: pointer;
    }
    .partial a:hover{
        background-color: chocolate;
    }
    .partial form textarea{
        width: 98%;
        height: 10vw;
        margin: 1vw 0;
    }
    .partial input.submit{
        background-color: var(--purple);
        border: none;
        padding: 0.5vw 2vw;
        border-radius: 1vw;
        color: white;
        font-family: 'iransans';
        cursor: pointer;
        display: block;
        width: fit-content;
    }
    .partial input.file{
        margin: 1vw;
    }
    a.big-link{
        font-family: 'iransans';
        font-size: 1.7vw;
        margin-right: 5vw;
        color: var(--purple);
        text-decoration: none;
        transition-duration: 500ms;
    }
    a.big-link i{padding-left: 1vw;}
    a.big-link:hover{color: chocolate;}
    h1.table-title{
        font-family: 'iransans';
        font-size: 1.5vw;
        text-align: center;
        color: var(--purple);
    }
    table.score-table{
        width: 90%;
        margin: auto;
        text-align: center;
    }
    table.score-table th{
        background-color: lightblue;
        color: black;
        padding: 0.5vw 0;
        border-top-right-radius: 1vw;
        border-top-left-radius: 1vw;

    }
    table.score-table td{
        padding: 0.5vw 0;
        border-bottom: lightgray 0.1vw solid;
    }
    .round-links{
        margin-bottom: 1vw;
        text-align: center;
    }
    a.round{
        background-color: var(--purple);
        color: white;
        margin: 0.3vw;
        padding: 0.1vw 1vw;
        border-radius: 1vw;
        text-decoration: none;
        font-size: 1vw;
    }
    a.round:hover, a.round.active{background-color: chocolate; color: white;}
    
    .tab-content a.link{
        background-color: var(--purple);
        border: none;
        padding: 0.5vw 2vw;
        border-radius: 1vw;
        color: white;
        font-family: 'iransans';
        cursor: pointer;
        display: block;
        width: fit-content;
        margin: 1vw;
        text-decoration: none;
    }
    .saved-videos{
        width: 80%;
        margin: auto;
        margin-top: 5vw;
    }
    

    .chat-container{
        margin: 1%;
        width: 30%;
        float: right;
    }
    .chat-container .chat-view{
        background-color: #525252;
        border-radius: 1.5vw;
        color: white;
    }
    .chat-container .chat-view h1.chat-title{
        background-color: #313131;
        border-top-left-radius: 1.5vw;
        border-top-right-radius: 1.5vw;
        font-family: 'iransans';
        font-size: 1.5vw;
        padding: 0.5vw 0;
        text-align: center;
        margin: 0;
    }
    .chat-container .messages-container{
        height: 35vw;
        overflow-y: scroll;
        margin: 0;
    }
    .chat-container .messages-container::-webkit-scrollbar{
        display: none;
    }
    .chat-container .options-container{
        background-color: #414141;
        border-bottom-left-radius: 1.5vw;
        border-bottom-right-radius: 1.5vw;
        padding: 0.4vw 1vw;
    }
    .chat-container .options-container h1{
        font-family: 'iransans';
        font-size: 1.3vw;
        margin: 0.4vw 0;
        text-align: center;
        color: lightgray;
    }
    .chat-container .options-container input.textinput{
        font-family: 'iransans';
        font-size: 1vw;
        background-color: #525252;
        border: none;
        border-radius: 1vw;
        padding: 0.4vw 1vw;
        width: 70%;
        color: white;
    }
    .chat-container .options-container input.textinput:focus{
        outline: none;
    }
    .chat-container .options-container input.submit{
        background-color: var(--purple);
        border-radius: 1vw;
        border: none;
        color: white;
        font-family: 'iransans';
        font-size: 1vw;
        padding: 0.5vw 1vw;
        margin-right: 1vw;
        cursor: pointer;
        transition-duration: 500ms;
    }
    .chat-container .options-container input.submit:hover{
        background-color: chocolate;
    }
    .chat-container .options-container input.submit:focus{outline: none;}
    .chat-container .in-message{
        direction: ltr;
        padding: 0.4vw 1vw;
    }
    .chat-container .in-message .message{
        background-color: #313131;
        width: fit-content;
        max-width: 90%;
        padding: 0.4vw 1vw;
        border-radius: 1vw;
        text-align: right;
        direction: rtl;
    }
    .chat-container .in-message .message .sender{
        color: rgb(76, 172, 204);
        font-family: 'iransans';
        font-size: 1vw;
    }
    .chat-container .in-message .message .msg-content{
        color: white;
        font-family: 'iransans';
        font-size: 1vw;
        -ms-word-break: break-all;
        word-break: break-all;
        word-break: break-word; 
    }
    .chat-container .in-message .message .time{
        color: rgb(155, 155, 155);
        font-family: 'iransans';
        font-size: 0.8vw;
    }
    .chat-container .out-message{
        direction: rtl;
        padding: 0.4vw 1vw;
    }
    .chat-container .out-message .message{
        background-color: #6791a0;
        width: fit-content;
        max-width: 90%;
        padding: 0.4vw 1vw;
        border-radius: 1vw;
        text-align: right;
        direction: rtl;
    }
    .chat-container .out-message .message .sender{
        color: rgb(76, 172, 204);
        font-family: 'iransans';
        font-size: 1vw;
    }
    .chat-container .out-message .message .msg-content{
        color: white;
        font-family: 'iransans';
        font-size: 1vw;
        -ms-word-break: break-all;
        word-break: break-all;
        word-break: break-word; 
    }
    .chat-container .out-message .message .time{
        color: rgb(194, 194, 194);
        font-family: 'iransans';
        font-size: 0.8vw;
    }
    .tab-links-with-chat{
        text-align: center;
        overflow-y: hidden;
        padding: 0.5vw;
    }
    .tab-links-with-chat a{
        text-decoration: none;
        padding: 0.2vw 1vw;
        margin: 0 1vw;
        /* display: block;
        float: right; */
        border-radius: 1vw;
        border: var(--purple) 0.1vw solid;
        color: var(--purple);
    }
    .tab-links-with-chat a.active{
        background-color: var(--purple);
        color: white;
    }
    
    /* ---------------------- flag -------------------- */
    


    .file-list{
        /* max-height: 17vw; */
        /* overflow-y: scroll; */
        overflow: hidden;
        margin-bottom: 3vw;
    }
    .file-list .file-container{
        float: right;
        width: 40%;
        margin: 1vw 0;
        margin-right: 5%;
        border-radius: 1.5vw;
        text-align: center;
    }
    .file-list .file-container.red-border{
        border: red 0.2vw solid;
        box-shadow: 0 0 0.5vw 0.1vw rgba(255, 0, 0, 0.316);
    }
    .file-list .file-container.blue-border{
        border: blue 0.2vw solid;
        box-shadow: 0 0 0.5vw 0.1vw rgba(0, 0, 255, 0.274);
    }
    .file-list .file-container.red-border h1.file-title{
        color: red;
    }
    .file-list .file-container.blue-border h1.file-title{
        color: blue;
    }
    .file-list .file-container h1.file-title{
        font-family: 'iransans';
        font-size: 1.5vw;
    }
    .file-list .file-container p.text{
        color: rgb(126, 126, 126);

    }
    /* .file-list table{
        width: 80%;
        margin: auto;
        text-align: center;
    }
    .file-list table th{
        background-color: var(--purple);
        padding: 0.4vw 0;
        color: white;
        border-top-left-radius: 1vw;
        border-top-right-radius: 1vw;
    }
    .file-list table td{
        padding: 0.4vw 0;
        border-bottom: lightgray 0.1vw solid;
    }
    .file-list table td a{
        color: var(--purple);
        text-decoration: none;
        font-size: 1.5vw;
        transition-duration: 500ms;
    }
    .file-list table td a:hover{color: chocolate;} */
    form.upload-code{
        width: 70%;
        margin: auto;
        padding: 1vw 0;
        /* background-color: lightgreen; */
    }
    form.upload-code input.file{
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        cursor: pointer;
    }
    form.upload-code input.submit{
        border: none;
        font-family: 'iransans';
        font-size: 1.1vw;
        background-color: var(--purple);
        color: white;
        padding: 0.5vw 2vw;
        border-radius: 1vw;
        cursor: pointer;
        transition-duration: 500ms;
        margin-right: 2vw;
    }
    form.upload-code input.submit:hover{background-color: chocolate;}
    form.upload-code .upload-area{
        border: lightblue 2px dashed;
        position: relative;
        cursor: pointer;
        padding: 1vw 0;
        text-align: center;
        color: #798AAF;
        font-family: 'iransans';
        font-size: 1.3vw;
        width: 98%;
        border-radius: 1vw;
        margin-bottom: 1vw;
    }
    .translation-panel .upload-area i{
        padding-right: 1vw;
        font-size: 1.8vw;
    }
}








@media only screen and (max-width: 800px) {
    h1.league-title{
        font-family: 'iransans';
        font-size: 3.7vw;
        color: var(--purple);
        text-align: center;
        border-bottom: var(--purple) 0.2vw dotted;
        width: 60%;
        margin: auto;
        margin-top: 4vw;
        padding-bottom: 1vw;
    }
    .tab-view{
        /* background-color: lightblue; */
        width: 100%;
        margin: 2vw auto;
        overflow: hidden;
    }
    .tab-view .tab-links{
        float: right;
        width: 100%;
        /* background-color: lightblue; */
        text-align: center;
        margin-top: 3vw;
        margin-bottom: 5vw;
    }
    .tab-view .tab-links a{
        display: block;
        padding: 1.5vw 1vw;
        font-size: 3.5vw;
        text-decoration: none;
        color: var(--purple);
        margin: 1%;
        border-radius: 2vw;
        width: 90%;
        margin: auto;
    }
    .tab-view .tab-links a:hover{
        box-shadow: 0 0 0.6vw 0.3vw rgba(0, 0, 0, 0.2);
        /* background-color: lightblue; */
        /* color: white; */
    }
    .tab-view .tab-links a.active{
        box-shadow: 0 0 0.6vw 0.3vw rgba(0, 0, 0, 0.2);
        background-color: var(--purple);
        color: white;
    }
    .tab-view .tab-content{
        background-color: white;
        border-radius: 4vw;
        box-shadow: 0 0 0.6vw 0.3vw rgba(0, 0, 0, 0.2);
        float: right;
        width: 98%;
        /* text-align: center; */
        margin: 1%;
    }
    .tab-view .tab-content .score-board{
        width: 80%;
        margin: auto;
        margin-top: 3vw;
        margin-bottom: 1vw;
        position: relative;
    }
    .tab-view .tab-content img.score{
        width: 100%;
    }
    .tab-view .tab-content .score-board .team-a{
        position: absolute;
        top: 1.7vw;
        right: 10vw;
        font-family: 'iransans';
        font-size: 3vw;
        font-weight: bold;
        color: white;
    }
    .tab-view .tab-content .score-board .team-b{
        position: absolute;
        top: 1.7vw;
        left: 10vw;
        font-family: 'iransans';
        font-size: 3vw;
        font-weight: bold;
        color: white;
    }
    .tab-view .tab-content .score-board .goals{
        position: absolute;
        top: 1.7vw;
        right: 47%;
        font-family: 'iransans';
        font-size: 3vw;
        font-weight: bold;
        color: black;
    }
    .tab-view .tab-content .iframe-holder{
        width: 90%;
        margin: auto;
    }
    .tab-view .tab-content iframe{
        width: 100%;
        height: 50vw;
    }
    a.stream{
        text-decoration: none;
        color: var(--purple);
        font-family: 'iransans';
        font-size: 3.5vw;
        margin-right: 5vw;
        margin-bottom: 5vw;
        display: block;
        width: fit-content;
        transition-duration: 500ms;
    }
    a.stream:hover{color: chocolate;}
    a.stream i{padding-left: 1vw;}
    .two-part{
        overflow: hidden;
        width: 90%;
        margin: auto;
        margin-bottom: 3vw;
    }
    .partial{
        width: 100%;
        margin-right: 2%;
        margin-bottom: 3vw;
        float: right;
        /* background-color: lightblue; */
    }
    .partial a{
        display: block;
        background-color: var(--purple);
        color: white;
        text-decoration: none;
        padding: 1vw 0;
        text-align: center;
        transition-duration: 500ms;
        cursor: pointer;
    }
    .partial a:hover{
        background-color: chocolate;
    }
    .partial form textarea{
        width: 95%;
        height: 10vw;
        margin: 1vw 0;
    }
    .partial input.submit{
        background-color: var(--purple);
        border: none;
        padding: 1vw 4vw;
        border-radius: 2vw;
        color: white;
        font-family: 'iransans';
        cursor: pointer;
        display: block;
        width: fit-content;
    }
    .partial input.file{
        margin: 1vw;
    }
    a.big-link{
        font-family: 'iransans';
        font-size: 4vw;
        margin-right: 5vw;
        margin-bottom: 5vw;
        display: block;
        color: var(--purple);
        text-decoration: none;
        transition-duration: 500ms;
    }
    a.big-link i{padding-left: 1vw;}
    a.big-link:hover{color: chocolate;}
    h1.table-title{
        font-family: 'iransans';
        font-size: 3.5vw;
        text-align: center;
        color: var(--purple);
    }
    table.score-table{
        width: 98%;
        margin: auto;
        text-align: center;
    }
    table.score-table th{
        background-color: var(--purple);
        color: white;
        padding: 0.5vw 0;
        border-top-right-radius: 1vw;
        border-top-left-radius: 1vw;
        font-size: 3vw;
    }
    table.score-table td{
        font-size: 3vw;
        padding: 0.5vw 0;
        border-bottom: lightgray 0.5vw solid;
    }
    .round-links{
        margin-bottom: 1vw;
        text-align: center;
    }
    a.round{
        background-color: var(--purple);
        color: white;
        margin: 0.3vw;
        padding: 0.5vw 3vw;
        border-radius: 3vw;
        text-decoration: none;
        font-size: 3vw;
    }
    a.round:hover, a.round.active{background-color: chocolate; color: white;}
    


    .tab-content a.link{
        background-color: var(--purple);
        border: none;
        padding: 0.5vw 4vw;
        border-radius: 3vw;
        color: white;
        font-family: 'iransans';
        cursor: pointer;
        display: block;
        width: fit-content;
        margin: 1vw;
        text-decoration: none;
    }
    .saved-videos{
        width: 95%;
        margin: auto;
        margin-top: 7vw;
    }
    

    .chat-container{
        margin: 5%;
        width: 90%;
        float: right;
    }
    .chat-container .chat-view{
        background-color: #525252;
        border-radius: 3vw;
        color: white;
    }
    .chat-container .chat-view h1.chat-title{
        background-color: #313131;
        border-top-left-radius: 3vw;
        border-top-right-radius: 3vw;
        font-family: 'iransans';
        font-size: 3.5vw;
        padding: 2vw 0;
        text-align: center;
        margin: 0;
    }
    .chat-container .messages-container{
        height: 80vw;
        overflow-y: scroll;
        margin: 0;
    }
    .chat-container .messages-container::-webkit-scrollbar{
        display: none;
    }
    .chat-container .options-container{
        background-color: #414141;
        border-bottom-left-radius: 3vw;
        border-bottom-right-radius: 3vw;
        padding: 1vw 3vw;
    }
    .chat-container .options-container h1{
        font-family: 'iransans';
        font-size: 3.3vw;
        margin: 1vw 0;
        text-align: center;
        color: lightgray;
    }
    .chat-container .options-container input.textinput{
        font-family: 'iransans';
        font-size: 3vw;
        background-color: #525252;
        border: none;
        border-radius: 3vw;
        padding: 1vw 3vw;
        width: 70%;
        color: white;
    }
    .chat-container .options-container input.textinput:focus{
        outline: none;
    }
    .chat-container .options-container input.submit{
        background-color: var(--purple);
        border-radius: 3vw;
        border: none;
        color: white;
        font-family: 'iransans';
        font-size: 3vw;
        padding: 1vw 4vw;
        margin-right: 3vw;
        cursor: pointer;
        transition-duration: 500ms;
    }
    .chat-container .options-container input.submit:hover{
        background-color: chocolate;
    }
    .chat-container .options-container input.submit:focus{outline: none;}
    .chat-container .in-message{
        direction: ltr;
        padding: 1vw 3vw;
    }
    .chat-container .in-message .message{
        background-color: #313131;
        width: fit-content;
        max-width: 90%;
        padding: 1vw 3vw;
        border-radius: 3vw;
        text-align: right;
        direction: rtl;
    }
    .chat-container .in-message .message .sender{
        color: rgb(76, 172, 204);
        font-family: 'iransans';
        font-size: 3vw;
    }
    .chat-container .in-message .message .msg-content{
        color: white;
        font-family: 'iransans';
        font-size: 3vw;
        -ms-word-break: break-all;
        word-break: break-all;
        word-break: break-word; 
    }
    .chat-container .in-message .message .time{
        color: rgb(155, 155, 155);
        font-family: 'iransans';
        font-size: 2.5vw;
    }
    .chat-container .out-message{
        direction: rtl;
        padding: 1vw 3vw;
    }
    .chat-container .out-message .message{
        background-color: #6791a0;
        width: fit-content;
        max-width: 90%;
        padding: 1vw 3vw;
        border-radius: 3vw;
        text-align: right;
        direction: rtl;
    }
    .chat-container .out-message .message .sender{
        color: rgb(76, 172, 204);
        font-family: 'iransans';
        font-size: 3vw;
    }
    .chat-container .out-message .message .msg-content{
        color: white;
        font-family: 'iransans';
        font-size: 3vw;
        -ms-word-break: break-all;
        word-break: break-all;
        word-break: break-word; 
    }
    .chat-container .out-message .message .time{
        color: rgb(194, 194, 194);
        font-family: 'iransans';
        font-size: 2.5vw;
    }
    .tab-links-with-chat{
        text-align: center;
        overflow-y: hidden;
        padding: 1vw;
    }
    .tab-links-with-chat a{
        text-decoration: none;
        padding: 0.2vw 2vw;
        margin: 0 2vw;
        font-family: 'iransans';
        font-size: 3.3vw;
        /* display: block;
        float: right; */
        border-radius: 3vw;
        border: var(--purple) 0.1vw solid;
        color: var(--purple);
    }
    .tab-links-with-chat a.active{
        background-color: var(--purple);
        color: white;
    }
}

