/* --------- Declarations ----------- */
@font-face{
    font-family: 'iransans';
    src: url('iransans.ttf');
}

@keyframes fade {
    from {opacity: 0;}
    to {opacity: 1;}
}
@keyframes goRight {
    from {margin-right: 3vw;}
    to {margin-right: 0;}
}
@keyframes goUp {
    from {margin-top: 5vw;}
    to {margin-top: 0.5vw;}
}

:root {
    --purple: #8305be;
    --yellow: #ffcc00;
    --hover: #ffcc00;
    --dark: #050507;
    --light: white;
    --textcolor: rgb(29, 29, 29);
}

body{
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    font-family: 'iransans';
    direction: rtl;
}

/* --------- Header ----------- */
header{
    background-color: var(--dark);
    /* background-image: url('../images/landing/bg.jpg'); */
    color: var(--light);
    position: relative;
    overflow: hidden;
    height: 54vw;
}

nav{
    /* background-color: violet; */
    overflow: hidden;
    padding: 4vw 6vw;
    padding-bottom: 0;
    direction: rtl;
}
nav button.navbar-toggler{
    background: none;
    border: none;
    color: var(--light);
    font-size: 3vw;
    padding: 0.4vw 1vw;
    float: right;
    cursor: pointer;
    transition-duration: 600ms;
}
nav button.navbar-toggler:hover{
    color: var(--hover);
}
nav a.nav-link{
    font-family: 'iransans';
    font-size: 1.5vw;
    color: var(--light);
    float: right;
    display: block;
    text-decoration: none;
    padding: 0.7vw 0.5vw;
    margin: 0 1vw;
    direction: rtl;
    font-weight: 550;
    border-bottom: var(--dark) 2px solid;
    transition-duration: 600ms;
}
nav a.nav-link:hover{
    border-bottom: var(--light) 2px solid;
}
nav a.nav-link.active{
    border-bottom: var(--light) 2px solid;
}
nav a.nav-link i{
    padding-left: 0.5vw;
}
nav a.user-login{
    float: left;
    font-size: 1.7vw;
    color: var(--light);
    text-decoration: none;
    font-family: 'iransans';
    transition-duration: 600ms;
}
nav a.user-login:hover{color: var(--yellow);}
nav a.user-login i{
    font-size: 2vw;
    padding-right: 1vw;
}
header .on-image-text{
    /* background-color: blue; */
    padding: 0 5vw;
    position: absolute;
    top: 13vw;
    right: 7vw;
    direction: rtl;
}
header .on-image-text h1{
    font-family: 'iransans';
    margin: 0;
    animation-name: fade;
    animation-duration: 5s;
}
header .on-image-text a.rounded-rect-button{
    display: block;
    width: fit-content;
    margin-top: 0.5vw;
    color: white;
    text-decoration: none;
    font-family: 'iransans';
    font-size: 1.5vw;
    padding: 0.5vw 4vw;
    border-radius: 2vw;
    background-image: linear-gradient(to right, #7610a5, #7617e4);
    transition-duration: 600ms;
    animation-name: goUp;
    animation-duration: 3s;
    box-shadow: 0 0.5vw 0.6vw 0.1vw rgba(131, 5, 190, 0.253);
}
header .on-image-text a.rounded-rect-button:hover{
    background-image: linear-gradient(to right, #7617e4, #8305be);
    padding: 0.5vw 5vw;
}
.small{
    font-size: 1.5vw;
}
.medium{
    font-size: 2.5vw;
}
.large{
    font-size: 7vw;
    line-height: 8vw;
}
.yellow{
    color: var(--yellow);
}
.purple{
    color: var(--purple);
}
header img.robot{
    position: absolute;
    left: 0;
    top: 7vw;
    width: 60vw;
    animation-name: fade;
    animation-duration: 2s;
}
img.bottom-curv{
    width: 100%;
    height: 4vw;
}



/* --------- Content ----------- */
.content{
    /* background-color: cyan; */
    width: 80%;
    margin: auto;
    overflow: hidden;
    margin-top: 8vw;
    padding: 3vw 5vw;
    border-radius: 2vw;
    box-shadow: 0 0.1vw 0.5vw 0.2vw rgba(174, 0, 255, 0.2);
}
.content .right-text{
    float: right;
    width: 50%;
    margin-left: 10%;
}
.content .right-text h1{
    font-family: 'iransans';
    font-size: 2vw;
    font-weight: bold;
    color: var(--purple);
}
.content .right-text p{
    font-family: 'iransans';
    font-size: 1.5vw;
    text-align: justify;
    direction: rtl;
    color: var(--textcolor);
    margin-bottom: 0.5vw;
}
.content .img-area{
    float: right;
    width: 40%;
}
.content .img-area img{
    width: 100%;
}
.content a.social-media-link{
    font-size: 3vw;
    margin-left: 1vw;
    color: rgb(0, 140, 255);
    transition-duration: 600ms;
}
.content a.social-media-link:hover{
    color: var(--purple);
}








