/* --------- Declarations ----------- */
@font-face{
    font-family: 'iransans';
    src: url('iransans.ttf');
}

@keyframes fade {
    from {opacity: 0;}
    to {opacity: 1;}
}
@keyframes goRight {
    from {margin-right: 3vw;}
    to {margin-right: 0;}
}
@keyframes goUp {
    from {margin-top: 5vw;}
    to {margin-top: 0.5vw;}
}

:root {
    --purple: #8305be;
    --yellow: #ffcc00;
    --hover: #ffcc00;
    --dark: #050507;
    --light: white;
    --blue: rgb(0, 140, 255);
    --textcolor: rgb(29, 29, 29);
}
body{
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    font-family: 'iransans';
    direction: rtl;
    background-color: white;
}
.transparent-modal{
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

@media only screen and (min-width: 800px) {
    /* --------- Header ----------- */
    header{
        background-color: var(--dark);
        /* background-image: url('../images/landing/bg.jpg'); */
        color: var(--light);
        position: relative;
        overflow: hidden;
        height: 54vw;
    }

    nav{
        /* background-color: violet; */
        overflow: hidden;
        padding: 4vw 6vw;
        padding-bottom: 0;
        direction: rtl;
    }
    nav button.navbar-toggler{
        background: none;
        border: none;
        color: var(--light);
        font-size: 3vw;
        padding: 0.4vw 1vw;
        float: right;
        cursor: pointer;
        transition-duration: 600ms;
    }
    nav button.navbar-toggler:hover{
        color: var(--hover);
    }
    nav a.nav-link{
        font-family: 'iransans';
        font-size: 1.5vw;
        color: var(--light);
        float: right;
        display: block;
        text-decoration: none;
        padding: 0.7vw 0.5vw;
        margin: 0 1vw;
        direction: rtl;
        font-weight: 550;
        border-bottom: var(--dark) 2px solid;
        transition-duration: 600ms;
    }
    nav a.nav-link:hover{
        border-bottom: var(--light) 2px solid;
    }
    nav a.nav-link.active{
        border-bottom: var(--light) 2px solid;
    }
    nav a.nav-link i{
        padding-left: 0.5vw;
    }
    nav a.user-login{
        float: left;
        font-size: 1.7vw;
        color: var(--light);
        text-decoration: none;
        font-family: 'iransans';
        transition-duration: 600ms;
    }
    nav a.user-login:hover{color: var(--yellow);}
    nav a.user-login i{
        font-size: 2vw;
        padding-right: 1vw;
    }
    header .on-image-text{
        /* background-color: blue; */
        padding: 0 5vw;
        position: absolute;
        top: 13vw;
        right: 7vw;
        direction: rtl;
    }
    header .on-image-text h1{
        font-family: 'iransans';
        margin: 0;
        animation-name: fade;
        animation-duration: 5s;
    }
    header .on-image-text a.rounded-rect-button{
        display: block;
        width: fit-content;
        margin-top: 0.5vw;
        color: white;
        text-decoration: none;
        font-family: 'iransans';
        font-size: 1.5vw;
        padding: 0.5vw 4vw;
        border-radius: 2vw;
        /* background-image: linear-gradient(to right, #7610a5, #7617e4); */
        background-image: linear-gradient(to right, #1044a5, #17cce4);
        transition-duration: 600ms;
        animation-name: goUp;
        animation-duration: 3s;
        /* box-shadow: 0 0.5vw 0.6vw 0.1vw rgba(131, 5, 190, 0.253); */
        box-shadow: 0 0.5vw 0.6vw 0.1vw rgba(5, 147, 190, 0.253);
    }
    header .on-image-text a.rounded-rect-button:hover{
        background-image: linear-gradient(to right, #7617e4, #8305be);
        padding: 0.5vw 5vw;
    }
    .small{
        font-size: 1.5vw;
    }
    .medium{
        font-size: 2.5vw;
    }
    .large{
        font-size: 7.2vw;
        line-height: 8vw;
    }
    .yellow{
        color: var(--yellow);
    }
    .purple{
        color: var(--purple);
    }
    header img.robot{
        position: absolute;
        left: 0;
        top: 7vw;
        width: 60vw;
        animation-name: fade;
        animation-duration: 2s;
    }
    .curv{
        margin-top: -0.1vw;
    }
    img.bottom-curv{
        width: 100%;
        height: 4vw;
    }



    /* --------- Content ----------- */
    .content{
        /* background-color: cyan; */
        width: 80%;
        margin: auto;
        overflow: hidden;
        margin-top: 8vw;
        padding: 3vw 5vw;
        border-radius: 2vw;
        box-shadow: 0 0.1vw 0.5vw 0.2vw rgba(174, 0, 255, 0.2);
    }
    .content .right-text{
        float: right;
        width: 50%;
        margin-left: 10%;
    }
    .content .right-text h1{
        font-family: 'iransans';
        font-size: 2vw;
        font-weight: bold;
        color: var(--purple);
    }
    .content .right-text p{
        font-family: 'iransans';
        font-size: 1.3vw;
        text-align: justify;
        direction: rtl;
        color: var(--textcolor);
        margin-bottom: 0.5vw;
    }
    .content .img-area{
        float: right;
        width: 40%;
    }
    .content .img-area img{
        width: 100%;
    }
    .content a.social-media-link{
        font-size: 3vw;
        margin-left: 1vw;
        color: var(--blue);
        transition-duration: 600ms;
    }
    .content a.social-media-link:hover{
        color: var(--purple);
    }
    .content .right-text a.see-more{
        color: rgb(82, 137, 255);
        font-family: 'iransans';
        display: block;
        font-size: 1.2vw;
        text-decoration: none;
    }
    .content .right-text a.see-more:hover{
        color: var(--purple);
    }

    /* ------------- poster-content ---------------- */
    .poster-content{
        /* background-color: violet; */
        padding-top: 6vw;
        overflow: hidden;
        width: 75%;
        margin: auto;
    }
    .poster-content .img-area{
        float: right;
        width: 34%;
        margin-left: 5%;
    }
    .poster-content .img-area img{
        width: 100%;
        border-radius: 2vw;
        filter: brightness(1);
        transition-duration: 600ms;
    }
    .poster-content .img-area img:hover{
        filter: brightness(1.5);
    }
    .poster-content .text-area{
        float: right;
        width: 60%;
        margin-top: 1vw;
    }
    .poster-content .text-area .item{
        margin-bottom: 2vw;
        /* background-color: lightblue; */
        overflow: hidden;
    }
    .poster-content .text-area .item img{
        width: 5vw;
        float: right;
        /* margin-top: 1vw; */
        margin-left: 2vw;
    }
    .poster-content .text-area .item .text-item{
        width: 5vw;
        float: right;
        width: 80%;
    }
    .poster-content .text-area .item h1{
        font-family: 'iransans';
        font-size: 1.3vw;
        margin: 0;
    }
    .poster-content .text-area .item p{
        font-family: 'iransans';
        font-size: 1.1vw;
        margin: 0;
        margin-top: 0;
        text-align: justify;
    }

    /* ---------- dark-content ------------ */
    .dark-content{
        background-color: var(--dark);
        margin-top: 5vw;
        padding: 10vw 5vw;
        overflow: hidden;
    }
    .dark-content .part{
        width: 49%;
        float: right;
    }
    .dark-content .part .img-area{
        width: 20vw;
        height: 12vw;
        float: right;
        margin-left: 1vw;
        margin-bottom: 1vw;
        position: relative;
    }
    .dark-content .part img{
        width: 100%;
        height: 100%;
        border-radius: 0.5vw;
    }
    .dark-content .part .last{
        position: absolute;
        top: 0;
        right: 0;
        z-index: 100;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(to bottom,rgba(0,0,0,0), var(--dark));
    }
    .dark-content .part a.goto{
        font-family: 'iransans';
        font-size: 1.5vw;
        color: rgb(129, 129, 129);
        display: block;
        text-decoration: none;
        text-align: center;
        transition-duration: 600ms;
    }
    .dark-content .part a.goto:hover{
        color: var(--yellow);
    }
    .dark-content .line{
        background-image: linear-gradient(to bottom ,rgba(165, 165, 165, 0.678), rgba(255, 255, 255, 0.678), rgba(167, 167, 167, 0.678));
        width: 0.1%;
        height: 30vw;
        margin-top: 5vw;
        float: right;
    }
    .dark-content .video-area{
        width: 90%;
        margin: auto;
        margin-top: 2vw;
    }
    .dark-content .video-area h1{
        font-family: 'iransans';
        color: white;
        font-size: 1.5vw;
        text-align: right;
        margin: 0;
        border-bottom: white 1px solid;
        width: fit-content;
        /* margin: auto; */
        padding: 0 0 0.2vw 1vw;
    }
    .dark-content .video-area h2{
        font-family: 'iransans';
        color: var(--purple);
        font-size: 1.3vw;
        text-align: right;
        margin: 0;
        /* border-bottom: white 1px solid; */
        width: fit-content;
        /* margin: auto; */
        padding: 0.5vw 0 0.5vw 1vw;
        margin-bottom: 2vw;
    }
    .dark-content .video-area .actions{
        direction: left;
        overflow: hidden;
        padding: 1vw 0;
    }
    .dark-content .video-area .actions i{
        color: white;
        font-size: 1.7vw;
        float: left;
        transition-duration: 600ms;
    }
    .dark-content .video-area .actions h3{
        float: left;
        color: lightgray;
        font-size: 1.1vw;
        margin: 0;
        margin-right: 1vw;
        margin-left: 0.4vw;
    }
    .dark-content .video-area .actions i.heart:hover{
        color: red;
    }


    /* ---------- two-side-content --------- */
    .two-side-content{
        /* background-color: cyan; */
        width: 80%;
        margin: auto;
        margin-top: 5vw;
    }
    .two-side-content h1.title{
        font-family: 'iransans';
        font-size: 1.7vw;
        width: fit-content;
        margin: auto;
        padding-bottom: 0.3vw;
        color: var(--textcolor);
        border-bottom: var(--dark) 2px solid;
    }
    .two-side-content h1.under-title{
        font-family: 'iransans';
        font-size: 1.2vw;
        width: fit-content;
        margin: auto;
        padding-bottom: 0.3vw;
        margin-top: 2vw;
        color: rgb(102, 102, 102);
    }
    .two-side-content .items-area{
        overflow: hidden;
        padding: 1vw 0;
    }
    .two-side-content .item{
        float: right;
        width: 45%;
        margin-left: 2%;
        margin-right: 2%;
        margin-top: 2vw;
        border-radius: 1vw;
        box-shadow: 0 0.4vw 0.7vw 0.1vw rgba(78, 0, 114, 0.2);
        border: lightblue 1px solid;
        padding: 0;
        transition-duration: 600ms;
    }
    .two-side-content .item:hover{
        box-shadow: 0 0.4vw 0.7vw 0.1vw rgba(0, 0, 0, 0.507);
    }
    .two-side-content .item .top{
        background-color: rgb(241, 241, 241);
        border-bottom: lightgray 1px solid;
        border-top-left-radius: 1vw;
        border-top-right-radius: 1vw;
        padding: 1vw;
        overflow: hidden;
        position: relative;
    }
    .two-side-content .item .top i{
        font-size: 2vw;
        float: right;
        color: var(--blue);
    }
    .two-side-content .item .top h1.name{
        margin: 0;
        float: right;
        font-family: 'iransans';
        font-size: 1.3vw;
        color: var(--textcolor);
        padding-right: 1vw;
    }
    .two-side-content .item .top h1.state{
        position: absolute;
        top: 1vw;
        left: 1vw;
        margin: 0;
        font-family: 'iransans';
        font-size: 0.8vw;
        color: white;
        padding: 0.2vw 1vw;
        background-color: var(--purple);
        border-radius: 0.5vw;
    }
    .two-side-content .item table{
        width: 90%;
        margin: 1vw auto;
        text-align: center;
    }
    .two-side-content .item th{
        font-family: 'iransans';
        font-size: 1.2vw;
        padding: 0.5vw 0;
        color: var(--textcolor);
        border-bottom: lightgray 2px solid;
    }

    .two-side-content .item td{
        font-family: 'iransans';
        font-size: 1.2vw;
        padding: 0.5vw 0;
        color: var(--textcolor);
    }
    .two-side-content .item td a{
        text-decoration: none;
        font-family: 'iransans';
        color: var(--blue);
        transition-duration: 600ms;
    }
    .two-side-content .item td a:hover{
        color: var(--purple);
    }


    /* ---------- counter-content ----------- */
    .counter-content{
        margin-top: 5vw;
        position: relative;
        overflow: hidden;
        padding: 0;
    }
    .counter-content img{
        width: 100%;
    }
    .counter-content .counter{
        position: absolute;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.75);
        top: 0;
        right: 0;
        height: 50vw;
    }
    .counter-content .counter h1.title{
        font-family: 'iransans';
        font-size: 1.7vw;
        color: white;
        text-align: center;
        width: fit-content;
        margin: auto;
        margin-top: 5vw;
        border-bottom: rgb(116, 116, 116) 2px solid;
        padding-bottom: 0.5vw;
    }
    .counter-content .counter .parts-area{
        /* background-color: cyan; */
        overflow: hidden;
        width: fit-content;
        margin: 1vw auto;
    }
    .counter-content .counter .parts-area .part{
        float: right;
        margin: 0 2vw;
        color: white;
    }
    .counter-content .counter .parts-area .part h1.number{
        font-size: 6vw;
        font-weight: normal;
        margin-bottom: 0;
        text-align: center;
    }
    .counter-content .counter .parts-area .part h1.name{
        font-family: 'iransans';
        font-size: 1.5vw;
        font-weight: normal;
        margin-top: 0;
        text-align: center;
    }


    /* ------------ supporters-content ------------ */
    .supporters-content{
        margin-top: 5vw;
    }
    .supporters-content h1.title{
        font-family: 'iransans';
        font-size: 1.5vw;
        color: var(--textcolor);
        border-bottom: lightgray 2px solid;
        width: fit-content;
        margin: auto;
        padding-bottom: 1vw;
    }
    .supporters-content .supporters{
        /* background-color: lightblue; */
        /* display: inline; */
        text-align: center;
        margin-top: 5vw;
    }
    .supporters-content .supporters .part{
        width: fit-content;
        display: inline-block;
        /* background-color: lightgreen; */
        margin: 0 2vw;
    }
    .supporters-content .supporters .part img{
        width: 10vw;
    }
    .supporters-content .supporters .part img.larger{
        width: 15vw;
    }
    .supporters-content .supporters .part h1{
        font-family: 'iransans';
        font-size: 1.2vw;
    }

    /* ---------- footer ----------- */
    footer{
        position: relative;
        background-color: var(--dark);
        color: white;
        margin: 0;
        overflow: hidden;
        margin-top: 10vw;
        padding: 4vw 7vw;
        padding-bottom: 10vw;
    }
    footer .column{
        float: right;
        width: 30%;
    }
    footer .column h1.title{
        font-family: 'iransans';
        font-size: 1.5vw;
        color: var(--purple);
    }
    footer .column i{
        font-size: 1vw;
        padding-left: 1vw;
        /* color: var(--yellow); */
    }
    footer .column a{
        color: lightgray;
        text-decoration: none;
        display: block;
        font-family: 'iransans';
        font-size: 1.2vw;
    }
    footer .column a:hover{
        color: var(--yellow);
    }
    footer .column .contact i{
        color: var(--yellow);
        font-size: 1.5vw;
    }
    footer .column iframe{
        width: 80%;
        margin: auto;
        height: 10vw;
    }
    footer .soc{
        overflow: hidden;
    }
    footer a.social-media{
        color: white;
        float: left;
    }
    footer a.social-media i{
        font-size: 2vw;
    }
    footer h1.privacy{
        font-family: 'iransans';
        font-size: 1.4vw;
        font-weight: normal;
        position: absolute;
        bottom: 0;
        left: 30%;
    }
}
@media only screen and (max-width: 800px) {
    /* --------- Header ----------- */
    header{
        background-color: var(--dark);
        /* background-image: url('../images/landing/bg.jpg'); */
        color: var(--light);
        position: relative;
        overflow: hidden;
        height: 120vw;
    }
    .collapse{
        display: none;
        background-color: rgba(255, 255, 255, 0.932);
        overflow: hidden;
        position: absolute;
        width: 90%;
        z-index: 100;
        border-radius: 3vw;
        top: 12vw;
    }
    nav{
        /* background-color: violet; */
        overflow: hidden;
        padding: 4vw 6vw;
        padding-bottom: 0;
        direction: rtl;
    }
    nav button.navbar-toggler{
        background: none;
        border: none;
        color: var(--light);
        font-size: 6vw;
        padding: 0.4vw 1vw;
        float: right;
        cursor: pointer;
        transition-duration: 600ms;
    }
    nav button.navbar-toggler:hover{
        color: var(--hover);
    }
    nav a.nav-link{
        display: block;
        text-align: center;
        font-family: 'iransans';
        font-size: 3.5vw;
        color: var(--dark);
        display: block;
        text-decoration: none;
        padding: 2vw 0;
        margin: 0 1vw;
        direction: rtl;
        font-weight: 550;
        border-bottom: var(--dark) 1px solid;
        transition-duration: 600ms;
    }
    nav a.nav-link:hover{
        color: var(--purple);
    }
    nav a.nav-link.active{
        color: var(--purple);
    }
    nav a.nav-link i{
        padding-left: 0.5vw;
    }
    nav a.user-login{
        float: left;
        font-size: 3.5vw;
        color: var(--light);
        text-decoration: none;
        font-family: 'iransans';
        transition-duration: 600ms;
    }
    nav a.user-login:hover{color: var(--yellow);}
    nav a.user-login i{
        font-size: 4vw;
        padding-right: 2vw;
    }
    header .on-image-text{
        /* background-color: blue; */
        padding: 0 5vw;
        position: absolute;
        top: 15vw;
        right: 7vw;
        z-index: 10;
        direction: rtl;
    }
    header .on-image-text h1{
        font-family: 'iransans';
        margin: 0;
        animation-name: fade;
        animation-duration: 5s;
    }
    header .on-image-text a.rounded-rect-button{
        display: block;
        width: fit-content;
        margin-top: 1vw;
        color: white;
        text-decoration: none;
        font-family: 'iransans';
        font-size: 4vw;
        padding: 1vw 7vw;
        border-radius: 3.5vw;
        /* background-image: linear-gradient(to right, #7610a5, #7617e4); */
        background-image: linear-gradient(to right, #1044a5, #17cce4);
        transition-duration: 600ms;
        animation-name: goUp;
        animation-duration: 3s;
        box-shadow: 0 0.5vw 0.6vw 0.1vw rgba(131, 5, 190, 0.253);
    }
    header .on-image-text a.rounded-rect-button:hover{
        background-image: linear-gradient(to right, #7617e4, #8305be);
        padding: 1vw 10vw;
    }
    .small{
        font-size: 4vw;
    }
    .medium{
        font-size: 5vw;
    }
    .large{
        font-size: 14.5vw;
        line-height: 15vw;
    }
    .yellow{
        color: var(--yellow);
    }
    .purple{
        color: var(--purple);
    }
    header img.robot{
        position: absolute;
        left: 0;
        top: 50vw;
        width: 80vw;
        animation-name: fade;
        animation-duration: 2s;
    }
    .curv{
        margin-top: -0.8vw;
    }
    img.bottom-curv{
        width: 100%;
        height: 4vw;
        margin: 0;
        overflow: hidden;
    }



    /* --------- Content ----------- */
    .content{
        /* background-color: cyan; */
        width: 80%;
        margin: auto;
        overflow: hidden;
        margin-top: 8vw;
        padding: 3vw 5vw;
        border-radius: 2vw;
        box-shadow: 0 0.1vw 0.5vw 0.2vw rgba(174, 0, 255, 0.2);
    }
    .content .right-text{
        float: right;
        width: 100%;
        margin-left: 10%;
    }
    .content .right-text h1{
        font-family: 'iransans';
        font-size: 4vw;
        font-weight: bold;
        color: var(--purple);
    }
    .content .right-text p{
        font-family: 'iransans';
        font-size: 3.5vw;
        text-align: justify;
        direction: rtl;
        color: var(--textcolor);
        margin-bottom: 0.5vw;
    }
    .content .img-area{
        float: right;
        width: 100%;
    }
    .content .img-area img{
        width: 100%;
    }
    .content a.social-media-link{
        font-size: 8vw;
        margin-left: 3vw;
        color: var(--blue);
        transition-duration: 600ms;
    }
    .content a.social-media-link:hover{
        color: var(--purple);
    }
    .content .right-text a.see-more{
        color: rgb(82, 137, 255);
        font-family: 'iransans';
        display: block;
        font-size: 3.2vw;
        text-decoration: none;
    }
    .content .right-text a.see-more:hover{
        color: var(--purple);
    }

    /* ------------- poster-content ---------------- */
    .poster-content{
        /* background-color: violet; */
        padding-top: 6vw;
        overflow: hidden;
        width: 80%;
        margin: auto;
    }
    .poster-content .img-area{
        float: right;
        width: 90%;
        margin-right: 5%;
        margin-left: 5%;
    }
    .poster-content .img-area img{
        width: 100%;
        border-radius: 2vw;
        filter: brightness(1);
        transition-duration: 600ms;
    }
    .poster-content .img-area img:hover{
        filter: brightness(1.5);
    }
    .poster-content .text-area{
        float: right;
        width: 100%;
        /* margin-right: 5%; */
        margin-top: 1vw;
    }
    .poster-content .text-area .item{
        margin-bottom: 4vw;
        /* background-color: lightblue; */
        overflow: hidden;
    }
    .poster-content .text-area .item img{
        width: 10vw;
        float: right;
        /* margin-top: 1vw; */
        margin-left: 3vw;
    }
    .poster-content .text-area .item .text-item{
        /* width: 5vw; */
        float: right;
        width: 80%;
    }
    .poster-content .text-area .item h1{
        font-family: 'iransans';
        font-size: 3.3vw;
        margin: 0;
    }
    .poster-content .text-area .item p{
        font-family: 'iransans';
        font-size: 3.1vw;
        margin: 0;
        margin-top: 0;
        text-align: justify;
    }

    /* ---------- dark-content ------------ */
    .dark-content{
        background-color: var(--dark);
        margin-top: 5vw;
        padding: 10vw 5vw;
        overflow: hidden;
    }
    .dark-content .part{
        width: 100%;
        float: right;
        overflow: hidden;
    }
    .dark-content .part .img-area{
        width: 40vw;
        height: 24vw;
        float: right;
        margin-left: 2vw;
        margin-right: 2vw;
        margin-bottom: 3vw;
        position: relative;
    }
    .dark-content .part img{
        width: 100%;
        height: 100%;
        border-radius: 1vw;
    }
    .dark-content .part .last{
        position: absolute;
        top: 0;
        right: 0;
        z-index: 100;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(to bottom,rgba(0,0,0,0), var(--dark));
    }
    .dark-content .part a.goto{
        font-family: 'iransans';
        font-size: 4vw;
        color: rgb(129, 129, 129);
        display: block;
        text-decoration: none;
        text-align: center;
        transition-duration: 600ms;
    }
    .dark-content .part a.goto:hover{
        color: var(--yellow);
    }
    .dark-content .line{
        display: none;
    }
    .dark-content .video-area{
        width: 90%;
        margin: auto;
        margin-top: 2vw;
    }
    .dark-content .video-area h1{
        font-family: 'iransans';
        color: white;
        font-size: 3.5vw;
        text-align: right;
        margin: 0;
        border-bottom: white 1px solid;
        width: fit-content;
        /* margin: auto; */
        padding: 0 0 0.2vw 1vw;
    }
    .dark-content .video-area h2{
        font-family: 'iransans';
        color: var(--purple);
        font-size: 3.3vw;
        text-align: right;
        margin: 0;
        /* border-bottom: white 1px solid; */
        width: fit-content;
        /* margin: auto; */
        padding: 0.5vw 0 0.5vw 1vw;
        margin-bottom: 2vw;
    }
    .dark-content .video-area .actions{
        direction: left;
        overflow: hidden;
        padding: 3vw 0;
    }
    .dark-content .video-area .actions i{
        color: white;
        font-size: 4vw;
        float: left;
        transition-duration: 600ms;
    }
    .dark-content .video-area .actions h3{
        float: left;
        color: lightgray;
        font-size: 3.1vw;
        margin: 0;
        margin-right: 1vw;
        margin-left: 0.4vw;
    }
    .dark-content .video-area .actions i.heart:hover{
        color: red;
    }


    /* ---------- two-side-content --------- */
    .two-side-content{
        /* background-color: cyan; */
        width: 80%;
        margin: auto;
        margin-top: 5vw;
    }
    .two-side-content h1.title{
        font-family: 'iransans';
        font-size: 4vw;
        width: fit-content;
        margin: auto;
        padding-bottom: 0.3vw;
        color: var(--textcolor);
        border-bottom: var(--dark) 2px solid;
    }
    .two-side-content h1.under-title{
        font-family: 'iransans';
        font-size: 3.2vw;
        width: fit-content;
        margin: auto;
        padding-bottom: 0.3vw;
        margin-top: 2vw;
        color: rgb(102, 102, 102);
        text-align: center;
    }
    .two-side-content .items-area{
        overflow: hidden;
        padding: 1vw 0;
    }
    .two-side-content .item{
        float: right;
        width: 95%;
        margin-left: 2%;
        margin-right: 2%;
        margin-top: 4vw;
        border-radius: 2.5vw;
        box-shadow: 0 0.4vw 0.7vw 0.1vw rgba(78, 0, 114, 0.2);
        border: lightblue 1px solid;
        padding: 0;
        transition-duration: 600ms;
    }
    .two-side-content .item:hover{
        box-shadow: 0 0.4vw 0.7vw 0.1vw rgba(0, 0, 0, 0.507);
    }
    .two-side-content .item .top{
        background-color: rgb(241, 241, 241);
        border-bottom: lightgray 1px solid;
        border-top-left-radius: 2.5vw;
        border-top-right-radius: 2.5vw;
        padding: 3vw;
        overflow: hidden;
        position: relative;
    }
    .two-side-content .item .top i{
        font-size: 4vw;
        float: right;
        color: var(--blue);
    }
    .two-side-content .item .top h1.name{
        margin: 0;
        float: right;
        font-family: 'iransans';
        font-size: 3vw;
        color: var(--textcolor);
        padding-right: 3vw;
    }
    .two-side-content .item .top h1.state{
        position: absolute;
        top: 3vw;
        left: 3vw;
        margin: 0;
        font-family: 'iransans';
        font-size: 2.8vw;
        color: white;
        padding: 0.2vw 3vw;
        background-color: var(--purple);
        border-radius: 2vw;
    }
    .two-side-content .item table{
        width: 90%;
        margin: 3vw auto;
        text-align: center;
    }
    .two-side-content .item th{
        font-family: 'iransans';
        font-size: 3.2vw;
        padding: 1vw 0;
        color: var(--textcolor);
        border-bottom: lightgray 2px solid;
    }

    .two-side-content .item td{
        font-family: 'iransans';
        font-size: 3.2vw;
        padding: 1vw 0;
        color: var(--textcolor);
    }
    .two-side-content .item td a{
        text-decoration: none;
        font-family: 'iransans';
        color: var(--blue);
        transition-duration: 600ms;
    }
    .two-side-content .item td a:hover{
        color: var(--purple);
    }


    /* ---------- counter-content ----------- */
    .counter-content{
        margin-top: 10vw;
        position: relative;
        overflow: hidden;
        padding: 0;
    }
    .counter-content img{
        width: 100%;
    }
    .counter-content .counter{
        position: absolute;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.75);
        top: 0;
        right: 0;
        height: 50vw;
    }
    .counter-content .counter h1.title{
        font-family: 'iransans';
        font-size: 3.7vw;
        color: white;
        text-align: center;
        width: fit-content;
        margin: auto;
        margin-top: 3vw;
        border-bottom: rgb(116, 116, 116) 2px solid;
        padding-bottom: 0.5vw;
        margin-bottom: 0;
    }
    .counter-content .counter .parts-area{
        /* background-color: cyan; */
        overflow: hidden;
        width: fit-content;
        margin: 1vw auto;
    }
    .counter-content .counter .parts-area .part{
        float: right;
        margin: 0 2vw;
        color: white;
    }
    .counter-content .counter .parts-area .part h1.number{
        font-size: 10vw;
        font-weight: normal;
        margin-top: 0;
        margin-bottom: 0;
        text-align: center;
    }
    .counter-content .counter .parts-area .part h1.name{
        font-family: 'iransans';
        font-size: 3vw;
        font-weight: normal;
        margin-top: 0;
        text-align: center;
    }


    /* ------------ supporters-content ------------ */
    .supporters-content{
        margin-top: 8vw;
    }
    .supporters-content h1.title{
        font-family: 'iransans';
        font-size: 3.5vw;
        color: var(--textcolor);
        border-bottom: lightgray 2px solid;
        width: fit-content;
        margin: auto;
        padding-bottom: 1vw;
    }
    .supporters-content .supporters{
        /* background-color: lightblue; */
        /* display: inline; */
        text-align: center;
        margin-top: 5vw;
    }
    .supporters-content .supporters .part{
        width: fit-content;
        display: inline-block;
        /* background-color: lightgreen; */
        margin: 2vw 4vw;
    }
    .supporters-content .supporters .part img{
        width: 20vw;
    }
    .supporters-content .supporters .part img.larger{
        width: 25vw;
    }
    .supporters-content .supporters .part h1{
        font-family: 'iransans';
        font-size: 3.2vw;
        color: rgb(139, 139, 139);
        max-width: 30vw;
    }

    /* ---------- footer ----------- */
    footer{
        position: relative;
        background-color: var(--dark);
        color: white;
        margin: 0;
        overflow: hidden;
        margin-top: 10vw;
        padding: 4vw 7vw;
        padding-bottom: 10vw;
    }
    footer .column{
        float: right;
        width: 30%;
        margin-left: 1vw;
    }
    footer .column h1.title{
        font-family: 'iransans';
        font-size: 3vw;
        color: var(--purple);
    }
    footer .column i{
        font-size: 2vw;
        padding-left: 1vw;
        /* color: var(--yellow); */
    }
    footer .column a{
        color: lightgray;
        text-decoration: none;
        display: block;
        font-family: 'iransans';
        font-size: 2.7vw;
    }
    footer .column a:hover{
        color: var(--yellow);
    }
    footer .column .contact{
        font-family: 'iransans';
        font-size: 2.9vw;
        text-align: justify;
        margin-top: 2vw;
    }
    footer .column .contact i{
        color: var(--yellow);
        font-size: 2.2vw;
    }
    footer .column iframe{
        width: 100%;
        margin: auto;
        height: 20vw;
    }
    footer .soc{
        overflow: hidden;
    }
    footer a.social-media{
        color: white;
        float: left;
    }
    footer a.social-media i{
        font-size: 4vw;
        margin-right: 2vw;
    }
    footer h1.privacy{
        font-family: 'iransans';
        font-size: 3vw;
        text-align: center;
        font-weight: normal;
        position: absolute;
        bottom: 0;
        left: 5%;
    }
}



