a(href="/tutorials/rcj?session=1" class="#{session == 1 ? 'active' : ''}") 
    .name.active 1: مقدمه
    .item 
        i.fa.fa-play-circle 
    .item 
        i.fa.fa-unlock
    .item 00:02:24
        i.fa.fa-clock-o 
a(href="/tutorials/rcj?session=2" class="#{session == 2 ? 'active' : ''}") 
    .name.active 2: حرکت ربات
    .item 
        i.fa.fa-play-circle 
    .item 
        i.fa.fa-unlock
    .item 00:02:20
        i.fa.fa-clock-o 
