extends ../layout

block styles
    link(rel="stylesheet", href="/stylesheets/leagues.css")

block content
    h1.league-title لیگ ربات های فوتبالیست وزن آزاد
    //- .r1_iframe_embed
    //-     iframe(src="https://player.arvancloud.com/index.html?config=https://juniorcup.arvanlive.com/rAq5JdYEBj/RkBwRWmbnY/origin_config.json" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowFullScreen="true" webkitallowfullscreen="true" mozallowfullscreen="true")
    p.text 
        | در این لیگ ربات ها با توپ نارنجی رنگ توسط الگوریتم های پردازش تصویر فوتبال بازی می کنند.
        |‌ هدف از ساخت چنین ربات هایی، آشنایی با مفاهیم پایه  رباتیک و برنامه نویسی است. دانش آموزان با شرکت در این لیگ
        |‌ دانش و تجربه مفیدی کسب می کنند. قوانین این لیگ را می توانید از طریق لینک زیر دانلود کنید. همچنین اگر برای اولین بار قصد شرکت در این لیگ را دارید 
        a(href="/docs") مطالب آموزشی 
        | را مطالعه فرمایید.
    a.rules(href="/rules/JuniorSoccer-OpenWeightSoccerRuls-2021.pdf" download) 
        i.fa.fa-cloud-download
        | دانلود قوانین لیگ ربات های فوتبالیست وزن آزاد
    h1.teams-title تیم های ثبت نام شده
    table.teams
        tr 
            th ردیف
            th نام تیم
            th سرپرست
            th وابستگی
            th وضعیت
        -for(var i=0; i<teams.length; i++){
            tr 
                td= i + 1
                td= teams[i].teamName
                td= teams[i].mentor
                td= teams[i].affiliation
                td
                    -if(teams[i].qualified)
                        .green تایید شده
                    -else
                        .red در حال بررسی
        -}