extends ../layout

block styles
    link(rel="stylesheet", href="/stylesheets/leagues.css")

block content

    h1.league-title لیگ ربات های فوتبالیست سبک وزن
    .r1_iframe_embed
        iframe(src="https://player.arvancloud.com/index.html?config=https://juniorcup.arvanlive.com/rAq5JdYEBj/RkBwRWmbnY/origin_config.json" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowFullScreen="true" webkitallowfullscreen="true" mozallowfullscreen="true")
