-if(page == 1)
    a.link.active(href="/docs/smartcar-cpp?page=1") معرفی
-else
    a.link(href="/docs/smartcar-cpp?page=1") معرفی
-if(page == 2)
    a.link.active(href="/docs/smartcar-cpp?page=2") نصب شبیه ساز
-else
    a.link(href="/docs/smartcar-cpp?page=2") نصب شبیه ساز
-if(page == 3)
    a.link.active(href="/docs/smartcar-cpp?page=3") نصب CodeBlocks
-else
    a.link(href="/docs/smartcar-cpp?page=3") نصب CodeBlocks
-if(page == 4)
    a.link.active(href="/docs/smartcar-cpp?page=4") اجرای برنامه روی سیمولاتور
-else
    a.link(href="/docs/smartcar-cpp?page=4") اجرای برنامه روی سیمولاتور
