extends ../layout

block styles
    link(rel='stylesheet', href='/stylesheets/docs.css')

block content
    .docs
        .sidebar
            h1.title
                i.fa.fa-book
                | مطالب آموزشی
            a.link(href="/docs/soccer-light-python?page=1") فوتبالیست سبک وزن مجازی (python)
            a.link(href="/") فوتبالیست سبک وزن مجازی (++C)
            a.link(href="/") فوتبالیست وزن آزاد مجازی (python)
            a.link(href="/") فوتبالیست وزن آزاد مجازی (++C)
            a.link(href="/") طراحی PCB (Altium Designer)
        .content
            .document
                .img-area
                    img(src="/images/docs/03.jpg")
                .info
                    h1.title عنوان مطلب
                    p.desc توضیحات مختصر و کوتاه در مورد مطلب آموزشی
                    a.link(href="/") شروع
            .document
                .img-area
                    img(src="/images/docs/03.jpg")
                .info
                    h1.title عنوان مطلب
                    p.desc توضیحات مختصر و کوتاه در مورد مطلب آموزشی
                    a.link(href="/") شروع
            .document
                .img-area
                    img(src="/images/docs/03.jpg")
                .info
                    h1.title عنوان مطلب
                    p.desc توضیحات مختصر و کوتاه در مورد مطلب آموزشی
                    a.link(href="/") شروع
    .bg-toggle
        .bg-button
            i.fa.fa-moon-o.moon
            i.fa.fa-sun-o.sun
            
    .sidebar-modal
    .sidebar-toggle
        i.fa.fa-chevron-left
    script(src="/javascripts/docs.js")