-if(page == 1)
    a.link.active(href="/docs/soccer-light-cpp?page=1") معرفی
-else
    a.link(href="/docs/soccer-light-cpp?page=1") معرفی
-if(page == 2)
    a.link.active(href="/docs/soccer-light-cpp?page=2") نصب شبیه ساز
-else
    a.link(href="/docs/soccer-light-cpp?page=2") نصب شبیه ساز
-if(page == 3)
    a.link.active(href="/docs/soccer-light-cpp?page=3") نصب CodeBlocks
-else
    a.link(href="/docs/soccer-light-cpp?page=3") نصب CodeBlocks
-if(page == 4)
    a.link.active(href="/docs/soccer-light-cpp?page=4") ساخت پروژه
-else
    a.link(href="/docs/soccer-light-cpp?page=4") ساخت پروژه
-if(page == 5)
    a.link.active(href="/docs/soccer-light-cpp?page=5") اجرای برنامه روی سیمولاتور
-else
    a.link(href="/docs/soccer-light-cpp?page=5") اجرای برنامه روی سیمولاتور
-if(page == 6)
    a.link.active(href="/docs/soccer-light-cpp?page=6") سیستم حرکتی روبات
-else
    a.link(href="/docs/soccer-light-cpp?page=6") سیستم حرکتی روبات
-if(page == 7)
    a.link.active(href="/docs/soccer-light-cpp?page=7") سنسور های TSOP
-else
    a.link(href="/docs/soccer-light-cpp?page=7") سنسور های TSOP
-if(page == 8)
    a.link.active(href="/docs/soccer-light-cpp?page=8") سنسور های فاصله
-else
    a.link(href="/docs/soccer-light-cpp?page=8") سنسور های فاصله
-if(page == 9)
    a.link.active(href="/docs/soccer-light-cpp?page=9") سنسور قطب نما
-else
    a.link(href="/docs/soccer-light-cpp?page=9") سنسور قطب نما
-if(page == 10)
    a.link.active(href="/docs/soccer-light-cpp?page=10") سنسور های LDR
-else
    a.link(href="/docs/soccer-light-cpp?page=10") سنسور های LDR
-if(page == 11)
    a.link.active(href="/docs/soccer-light-cpp?page=11") تعقیب توپ
-else
    a.link(href="/docs/soccer-light-cpp?page=11") تعقیب توپ
-if(page == 12)
    a.link.active(href="/docs/soccer-light-cpp?page=12") شیفت حرکت ها
-else
    a.link(href="/docs/soccer-light-cpp?page=12") شیفت حرکت ها
-if(page == 13)
    a.link.active(href="/docs/soccer-light-cpp?page=13") بازگشت به دروازه
-else
    a.link(href="/docs/soccer-light-cpp?page=13") بازگشت به دروازه
-if(page == 14)
    a.link.active(href="/docs/soccer-light-cpp?page=14") الگوریتم اوت
-else
    a.link(href="/docs/soccer-light-cpp?page=14") الگوریتم اوت